.sitesSteps.lines
  .c
    .sitesSteps__cols
      .sitesSteps__left
        h2.title.sitesSteps__title
          |Как мы делаем сайты, которые
          .big приносят результат?

        .sitesSteps__items
          .sitesSteps__item
            .sitesSteps__name
              | Сейчас
              svg: use(xlink:href="#check")
            .sitesSteps__text Вы оставляете заявку в форме справа или звоните по номеру #[span.big 8 (999) 999-99-99]

          .sitesSteps__item
            .sitesSteps__name
              | В течение 5 минут
              svg: use(xlink:href="#check")
            .sitesSteps__text Получаете консультацию специалиста, который поможет определиться Вам какой из сайтов подойдет именно Вам, объяснит все тонкости и даст советы, при желании договорится о встрече.

          .sitesSteps__item
            .sitesSteps__name
              | В ближайшие 7 дней
              svg: use(xlink:href="#check")
            .sitesSteps__text Наша команда сделает для Вас макет и прототип Вашего будующего сайта Согласует с Вами все детали и отдаст проект в работу дизайнеров.

          .sitesSteps__item
            .sitesSteps__name
              | Через 14 дней
              svg: use(xlink:href="#check")
            .sitesSteps__text Вы получите полность готовый дизайн Вашего сайта, с полной отрисовкой всех окон и желаемым функционалом. Проект отправляется на верстку и программирование.

          .sitesSteps__item
            .sitesSteps__name
              | Через 30 дней
              svg: use(xlink:href="#check")
            .sitesSteps__text Ваш сайт полность готов к работе, подключены все формы, произведена верстка и программирование. Сайт выгружен на хостинг и запущен на желаемом домене.

      .sitesSteps__right
        .sitesSteps__form.noise
          .form
            .form__title Получите консультацию специалистав течение 29 секунд
            .form__text Введите Ваши контактные данные и наш специалист свяжется с Вами в течение 29 секунд
            form
              .input.form__input: input.input__input(placeholder='Введите ваше имя:')
              .input.form__input: input.input__input(placeholder='Введите ваш номер телефона:')
              .form__button: button.btn.btn--lineIcon ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ

        .sitesSteps__cta
          img.lazy.sitesSteps__image(data-src='images/bust8.png')

          |Слишком долго?#[br]у нас есть вариант
          .sitesSteps__price за 7 дней и #[span 40 000] рублей!
