.welcome.lines
  .c
    .welcome__head
      .welcome__sup Приветствуем Вас на сайте компании
      h2.welcome__title General Marketing
    .welcome__cols
      .welcome__aside
        .welcome__text Если вы здесь, значит Вы уже задумались над качественным привлечением клиентов с помощью интернет-маркетинга. Для начала давайте познакомим Вас с нашей компанией.
        .welcome__cta Посмотрите видео о нашей компании и узнайте больше за 60 секунд.
      .welcome__video
        a.videoFrame.videoFrame--bordered(href='https://www.youtube.com/watch?v=T7wofidfrpc' target='_blank')
          .videoFrame__preview: img.lazy(data-src='https://img.youtube.com/vi/T7wofidfrpc/maxresdefault.jpg')
          .videoFrame__play
  img.welcome__image.lazy(data-src='images/chevron.png')