#partnership.popup.popup--wide.noise
  .form.form--black-border
    div
    .form__title
      | Мы развиваем партнерскую сеть по всей#[br]
      | территории РФ Мы всегда готовы сотрудничать#[br]
      | с хорошими специалистами Напишите нам если#[br]
      | Вас интересует партнерство.
    form
      .input.form__input: input.input__input(placeholder='Номер телефона партнера:' type='tel')
      .input.form__input: textarea.input__input.input__input--textarea(placeholder='Как вы видите наши партнерские отношения:')
      .form__button: button.btn.btn--lineIcon СТАТЬ ПАРТНЕРОМ
