#sitePopup.casePopup
  .casePopup__inner
    .casePopup__preview.casePopup__preview--iframe
    .casePopup__preview.casePopup__preview--image
      .casePopup__info
        .casePopup__content
      .casePopup__track
        .casePopup__bar

    .casePopup__aside
      .casePopup__title
      .popup.popup--underline.noise
        .form.form--black-border
          div
          .form__title
            | Понравился сайт?#[br]
            | Оставьте заявку и мы сделаем#[br]
            | Вам еще лучше.
          form
            .input.form__input: input.input__input(placeholder='Введите ваш номер телефона:' type='tel')
            .form__button: button.btn.btn--lineIcon ПОЛУЧИТЬ КРУТОЙ САЙТ

#smmPopup.casePopup
  .casePopup__inner
    .casePopup__preview
      .casePopup__info
        .casePopup__content
      .casePopup__track
        .casePopup__bar

    .casePopup__aside
      .casePopup__title
      .popup.popup--underline.noise
        .form.form--black-border
          div
          .form__title
            | Понравился результат?#[br]
            | Оставьте заявку и мы сделаем#[br]
            | Вам еще лучше
          form
            .input.form__input: input.input__input(placeholder='Введите ваш номер телефона:' type='tel')
            .form__button: button.btn.btn--lineIcon ПОЛУЧИТЬ КРУТОЙ САЙТ
