#callback.popup.popup--underline.noise
  .form.form--black-border
    div
    .form__title.form__title--centered Получите четкие гарантии#[br]результатов#[br]Просто заполните форму ниже
    .form__text.form__text--compact Заполнение заявки Вас ни к чему не обязывает. Вся информация носит ознакомительных характер.
    form
      .input.form__input: input.input__input(placeholder='Введите ваш номер телефона:' type='tel')
      .form__button: button.btn.btn--lineIcon ПОЛУЧИТЬ ГАРАНТИИ
