#abandon3.abandon.noise
  .abandon__inner
    .abandon__title
      | Закажите SMM продвижение в течение трех дней и вы получите скидку до #[span 15 %] на общую стоимость smm продвижения.
    form
      input.abandon__input(placeholder='Введите ваш номер телефона:' type='tel')
      .abandon__button: button.btn.btn--lineIcon ОТПРАВИТЬ

  img.lazy.abandon__image.abandon__image--3(data-src='images/abandon3.png')