.contextBullets.lines
  .c
    h2.title.contextBullets__title
      |Многие компании не уделяют должного внимания
      .big контекстной рекламе, а ведь...

    .contextBullets__items
      .contextBullets__item
        svg: use(xlink:href="#check")
        |Грамотная контекстная реклама помогает поднять Ваш сайт по SEO выдаче.
      .contextBullets__item
        svg: use(xlink:href="#check")
        |Приводит исключительно целевой трафик на Ваш сайт.
      .contextBullets__item
        svg: use(xlink:href="#check")
        |Позволяет получать клиентов по цене от 200 до 1 000 рублей!
      .contextBullets__button
        a.btn
          svg.icon-lines: use(xlink:href="#2lines")
          |Хотите клиентов по 200 рублей?
  img.contextBullets__image.lazy(data-src='images/sculpture3.png')