.smmAbout.lines
  .c
    h2.blockTitle.smmAbout__title SMM продвижение, что же это такое?
    .smmAbout__items
      .smmAbout__item
        img.smmAbout__img.lazy(data-src='modules/smmAbout/img/smmAbout-01.png')
        .smmAbout__text
          | Привлечение максимального #[br]
          | кол-ва клиентов в кратчайшие #[br]
          | сроки
      .smmAbout__item
        img.smmAbout__img.lazy(data-src='modules/smmAbout/img/smmAbout-02.png')
        .smmAbout__text
          | Выявляем и привлекаем #[br]
          | самые доходные сегменты #[br]
          | аудитории
      .smmAbout__item
        img.smmAbout__img.lazy(data-src='modules/smmAbout/img/smmAbout-03.png')
        .smmAbout__text
          | Ускоряем повторные #[br]
          | продажи
      .smmAbout__item
        img.smmAbout__img.lazy(data-src='modules/smmAbout/img/smmAbout-04.png')
        .smmAbout__text
          | Увеличиваем средний #[br]
          | чек
