.hero.lines.smmHero
  .hero__bgText GENERAL
  .hero__bgText.hero__bgText--small MARKETING

  img.hero__image.smmHero__image.lazy(data-src='images/horse4.png')
  img.hero__image2.smmHero__image2.lazy(data-src='images/bust.png')

  .c
    h1
      .smmHero__title
        .smmHero__bg SMM
        | продвижение
      .smmHero__sub
        | Оформление, контент- менеджмент,#[br]
        | администрирование, таргетинг, работа#[br]
        | с блогерами
