.smm
  padding: 80px 0 80px
  @media (max-width: $breakpoint-lg - 1)
    padding: 72px 0 40px
  @media (max-width: $breakpoint-md - 1)
    padding: 66px 0 48px

  .c
    position: relative
    z-index: 1

  &__title
    margin-bottom: 123px
    @media (max-width: $breakpoint-lg - 1)
      margin-bottom: 115px
    @media (max-width: $breakpoint-md - 1)
      margin-bottom: 110px

  &__image,
  &__image2
    position: absolute
    left: 50%
    bottom: 0
    z-index: 1
    pointer-events none

  &__image

    margin-left: -672px;
    margin-bottom: -164px;

    img
      anim(.25s)
      transform translateX(30px) rotate(15deg)

      &.lazy--visible
        transform none

    @media (max-width: $breakpoint-lg - 1)
      display: none

  &__image2
    margin-left: -629px;
    margin-bottom: 65px;
    transform translateY(-30px)

    &.lazy--visible
      transform none

    @media (max-width: $breakpoint-lg - 1)
      display: none

