.smm.lines
  .c
    .smm__title: h2(data-bg='SMM ПРОДВИЖЕНИЕ').title.title--bg SMM продвижение

    .btnGroup
      .btn Google Adwords
      .btn Контекстная реклама

  .cardsList
    .c
      .cardsList__slider: .cardsList__items
        .navBtn.cardsList__slide.cardsList__arrow: svg: use(xlink:href="#arrow")
        .cardsList__slide
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name SMM продвижение Салона красоты

        .cardsList__slide
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name SMM продвижение Ремонт авто

        .cardsList__slide
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name SMM продвижение Бренда одежды

  .btnSub
    .btn
      svg.icon-pdf: use(xlink:href="#pdf")
      | Или скачайте PDF файл с кейсами

  .paroller.smm__image: img.lazy(data-src='images/bust11.png' width=318 height=355 onload='paroller(event)')
  img.smm__image2.lazy(data-src='images/portfolio.png')