.certificates.lines
  .paroller.certificates__image: img.lazy(data-src='images/bust5.png' onload='paroller(event)')
  img.certificates__engImg.lazy(data-src='modules/certificates/img/certificates-img.png')
  .c
    h2.title.certificates__title
      | Мы являемся сертифицированными специалистами
      .big Контекстной рекламы #[br]Яндекса и Google
    img.lazy.certificates__certificate.certificates__certificate--google(data-src='images/certificate-google.png' width='185' height='201')
    img.lazy.certificates__certificate.certificates__certificate--yandex(data-src='images/certificate-yandex.png' width='185' height='201')
    .certificates__text
      | Наша компания начиналась с одного человека, который настраивал грамотную контекстную рекламу. Со временем мы превратились в сплоченную команду, которая знает как делать, возможно, лучшую контекстную рекламу на рынке.

      .certificates__eng
        .certificates__engTitle ТАКЖЕ ЗАНИМАЕМСЯ ИНОСТРАННЫМИ ПРОЕКТАМИ
        .certificates__engLabel Имеем штат специалистов, свободно владеющих иностранными языками.
