.hero.lines
  img.hero__image.frontHero__image.lazy(data-src='images/horse.png')
  .paroller.hero__image2.frontHero__image2: img.lazy(data-src='images/bust.png' onload='paroller(event)')

  .c
    //.hero__breadcrumbs
    //  .breadcrumbs
    //    span: a.home(href="#"): span Главная
    //    span.sep -
    //    span: a.post.post-page(href="#"): span Создание сайтов
    //    span.sep -
    //    span.post.post-page.current-item: span Создание сайтов
    .frontHero__sup
      | Первое агентство#[br]
      | интернет маркетинга Санкт-Петербурга
    h1.frontHero__title
      .frontHero__top General
      .frontHero__overflow(data-text='General')
      .frontHero__bottom Marketing
    .frontHero__sub
      | Мы помогаем Вам#[br]
      | добиться результата в интернет маркетинге
    a.btn.popup__opener(href='#callback')
      svg.icon-lines: use(xlink:href="#2lines")
      | получить консультацию

