.frontHero.lines
  .c
    .frontHero__sup
      | Первое агентство#[br]
      | интернет маркетинга Санкт-Петербурга
    h1.frontHero__title
      .frontHero__title--top General
      .frontHero__title--overflow(data-text='General')
      .frontHero__title--bottom Marketing
    .frontHero__sub
      | Мы помогаем Вам#[br]
      | добиться результата в интернет маркетинге
    a.btn(href='#')
      svg: use(xlink:href="#2lines")
      | получить консультацию
  .frontHero__image