.frontHero
  &__sup
    font-size: 24px
    line-height: 30px
    margin-bottom: 32px
    margin-left: -2px
    @media (max-width: $breakpoint-lg - 1)
      margin-bottom: 40px
    //@media (max-width: $breakpoint-md - 1)

    &:before
      content: ''
      display: block
      width: 15px
      height: 15px
      background: $blue
      margin-bottom: 15px
      @media (max-width: $breakpoint-lg - 1)
        display: none

  &__title
    position: relative
    font-family: 'Museo Sans Cyrl 700', sans-serif;
    font-size: 151px
    overflow: hidden
    margin-left: -2px
    @media (max-width: $breakpoint-lg - 1)
      font-size: 112px
    @media (max-width: $breakpoint-md - 1)
      font-size: 78px

  &__top
    line-height: 118px
    position: relative
    margin-left: -17px
    margin-bottom: -18px
    @media (max-width: $breakpoint-lg - 1)
      margin: 0 0 -2px
      line-height: 90px
    @media (max-width: $breakpoint-md - 1)
      line-height: 70px
      margin-bottom: -4px

  &__overflow
    display: block
    position: absolute
    top: 111px
    width: 50px
    left: 226px
    overflow: hidden
    height: 20px
    @media (max-width: $breakpoint-lg - 1)
      display: none

    &:before
      content: attr(data-text)
      position: absolute
      top: -118px
      left: -260px
      padding-left: 17px

  &__bottom
    line-height: 171px
    display: inline-block
    background-image: url(../../images/textbg.jpg);
    background-size: cover
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
    margin-left: -34px
    @media (max-width: $breakpoint-lg - 1)
      margin: 0
      line-height: 130px
    @media (max-width: $breakpoint-md - 1)
      line-height: 90px

  &__sub
    font-size: 24px
    line-height: 30px
    margin-bottom: 54px
    margin-left: -2px
    @media (max-width: $breakpoint-lg - 1)
      margin-top: 16px

    &:before
      content: ''
      display: block
      width: 1px
      height: 15px
      background: $blue
      margin-bottom: 15px
      @media (max-width: $breakpoint-lg - 1)
        display: none

  &__image
    margin-bottom: -50px
    margin-left: -45px
    transform: translateX(50px)

  &__image2
    margin-left: 100px;
    margin-bottom: -200px
    img
      transform: translateX(30px) rotate(15deg)
      @media (max-width: $breakpoint-md - 1)
        width: 200px
        margin-left: 20px;
        bottom: -110px
