.cases.lines.noise
  .c
    h2.title.cases__title Посмотрите наши кейсы по контекстной рекламе

  .cardsList
    .c
      .cardsList__slider: .cardsList__items
        .navBtn.cardsList__slide.cardsList__arrow: svg: use(xlink:href="#arrow")
        .cardsList__slide.sitePopup__opener(data-url='https://vseporogi.com')
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__inner
              .card__over
                .card__over-item
                  .card__icon.card__icon--magnifier: svg: use(xlink:href="#magnifier")
                  | Лидов ежедневно
                  .card__number 30
                .card__over-item
                  .card__icon.card__icon--graph: svg: use(xlink:href="#graph")
                  | Стоимость Лида
                  .card__number 1212300 р
            .card__name Сайт по разработке металоштакетника

        .cardsList__slide.sitePopup__opener(data-url='https://vseporogi.com')
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__inner
              .card__over
                .card__over-item
                  .card__icon.card__icon--magnifier: svg: use(xlink:href="#magnifier")
                  | Лидов ежедневно
                  .card__number 30
                .card__over-item
                  .card__icon.card__icon--graph: svg: use(xlink:href="#graph")
                  | Стоимость Лида
                  .card__number 1212300 р
            .card__name Сайт по разработке металоштакетника

        .cardsList__slide.sitePopup__opener( data-url='https://vseporogi.com')
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__inner
              .card__over
                .card__over-item
                  .card__icon.card__icon--magnifier: svg: use(xlink:href="#magnifier")
                  | Лидов ежедневно
                  .card__number 30
                .card__over-item
                  .card__icon.card__icon--graph: svg: use(xlink:href="#graph")
                  | Стоимость Лида
                  .card__number 1212300 р
            .card__name Сайт по разработке металоштакетника


  .btnSub
    .btn
      svg.icon-lines: use(xlink:href="#2lines")
      | Смотреть больше работ

    .btn
      svg.icon-pdf: use(xlink:href="#pdf")
      | Или скачайте PDF файл с кейсами

  img.cases__image2.lazy(data-src='images/bust.png')
