.indicators.lines
  .c
    h2.title.indicators__title
      | Показателей нашей рекламы великое множество, но большинству
      .big клиентов они не смогут сказать ровным #[br]счетом ничего
    .indicators__items
      .indicators__item.indicators__item--1 #[b CTR] объявлений #[br]больше 15%
      .indicators__item.indicators__item--2 #[b ROI]#[br] Более 25%
      .indicators__item.indicators__item--3 #[b Разделение] не #[br]1 к 1, а по группам
      .indicators__item.indicators__item--4
        |#[b Более 4 миллионов]
        |рублей оборота наших
        |клиентов ежемесячно
        |в контектную рекламу.