.services.services--line.lines
  .c
    h2.title.services__title.services__title--center
      | Наши цены на контекстную рекламу

  .services__container.c
    .navBtn.navBtn--prev.services__nav.services__nav--prev: svg: use(xlink:href="#arrow")
    .navBtn.navBtn--next.services__nav.services__nav--next: svg: use(xlink:href="#arrow")
    .services__slider: .services__items

      .services__item.services__item--noimage: .services__inner
        .services__name Настройка рекламы Яндекс Директ или Google Adwords
        .services__content
          ul
            li Поисковые кампании
            li РСЯ кампании
            li Графические объявления
            li Ретаргетинг
            li Динамическая кампания
            li Смарт баннеры
          p.bottom: b: span Мест на октябрь   7 - 4
        .services__footer: div
          .services__price от 24 990 рублей
          .services__oldprice от 35 000 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ

      .services__item.services__item--noimage: .services__inner
        .services__name Настройка рекламы Яндекс Директ или Google Adwords
        .services__content
          ul
            li Поисковые кампании
            li РСЯ кампании
            li Графические объявления
            li Ретаргетинг
            li Динамическая кампания
            li Смарт баннеры
          p: b Ведение рекламных кампаний 4 недели после запуска #[span БЕСПЛАТНО]
          p.bottom: b: span Мест на октябрь   7 - 4
        .services__footer: div
          .services__price от 39 990 рублей
          .services__oldprice от 50 000 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ

      .services__item.services__item--noimage: .services__inner
        .services__name Контракт на 3 месяца
        .services__content
          ul
            li Поисковые кампании
            li РСЯ кампании
            li Графические объявления
            li Ретаргетинг
            li Динамическая кампания
            li Смарт баннеры
            li Ведение и доработка рекламных кампаний 3 месяца Подключение новых каналов и работа над повышением узнаваемости бренда
          p.bottom: b: span Мест на октябрь   7 - 4
        .services__footer: div
          .services__price от 49 990 рублей
          .services__oldprice от 65 000 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ
