.services.lines
  .c
    h2.title.services__title
      | Какие же услуги #[span Мы] оказываем для
      .big наших клиентов?

    .services__aside
      svg: use(xlink:href="#check")
      |На первый взгляд это может показаться не дешево, именно поэтому мы сможем превзойти Ваши ожидания и вас приятно удивит результат!
  .services__container.c
    .navBtn.navBtn--prev.services__nav.services__nav--prev: svg: use(xlink:href="#arrow")
    .navBtn.navBtn--next.services__nav.services__nav--next: svg: use(xlink:href="#arrow")
    .services__slider: .services__items
      .services__item: .services__inner
        .services__icon(style='background-image: url(modules/services/services-1.png)')
        .services__name Создание сайтов
        .services__content
          ul
            li Создание Landing Page
            li Создание SEO сайтов
            li Создание многостраничных сайтов
            li Создание презентационных сайтов
            li Создание интернет магазинов
            li Создание корпоративных сайтов
        .services__footer: div
          .services__price от 39 990 рублей
          .services__oldprice от 39 990 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ
      .services__item: .services__inner
        .services__icon(style='background-image: url(modules/services/services-2.png)')
        .services__name Контекстная реклама
        .services__content
          ul
            li Настройка Яндекс Директ
            li Настройка Google AdWords
            li Лидогенерация
            li Реклама в мобильных приложениях
            li Ретаргетинг
            li Реклама в социальных сетях
            li Медийная реклама
            li Маркетинговый аудит
        .services__footer: div
          .services__price от 24 990 рублей
          .services__oldprice от 35 000 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ
      .services__item: .services__inner
        .services__icon(style='background-image: url(modules/services/services-3.png)')
        .services__name SMM продвижение
        .services__content
          ul
            li Создание бизнес профиля Instagram/vk/facebook
            li Продвижение в соц сетях Instagram/vk/facebook
            li Тагретированная Реклама в социальных сетях Instagram/vk/facebook
            li Работа с блогерами
            li Создание контента
        .services__footer: div
          .services__price от 24 990 рублей
          .services__oldprice
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ
