.services.lines
  .c
    h2.title.services__title.services__title--center
      | SMM продвижение, что же это такое?

  .services__container.c
    .navBtn.navBtn--prev.services__nav.services__nav--prev: svg: use(xlink:href="#arrow")
    .navBtn.navBtn--next.services__nav.services__nav--next: svg: use(xlink:href="#arrow")
    .services__slider: .services__items

      .services__item.services__item--noimage: .services__inner
        img.services__icon(src='images/inst.png')
        .services__name Instagram
        .services__content
          ul
            li Оформление профиля Instagram
            li Администрирование профиля Instagram
            li Подготовка контента для размещения
            li Создание искуственного спроса
            li Создание рассылок для
            li интересующихся пользователей
            li Таргетированная реклама
            li Работа с блогерами
            li Работа над репутицией бренда
          p.bottom: b: span Контракт на 2 месяца
        .services__footer: div
          .services__price от 24 990 рублей ежемесячно
          .services__oldprice 40 000 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ

      .services__item.services__item--noimage: .services__inner
        img.services__icon(src='images/vk.png')
        .services__name ВК
        .services__content
          ul
            li Оформление профиля Вконтакте
            li Администрирование профиля Вконтакте
            li Подготовка контента для размещения
            li Создание искуственного спроса
            li Создание рассылок для
            li интересующихся пользователей
            li Таргетированная реклама
            li Работа с блогерами
            li Работа над репутицией бренда
          p.bottom: b: span Контракт на 2 месяца
        .services__footer: div
          .services__price от 24 990 рублей ежемесячно
          .services__oldprice 40 000 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ

      .services__item.services__item--noimage: .services__inner
        img.services__icon(src='images/fb.png')
        .services__name FB
        .services__content
          ul
            li Оформление профиля Facebook
            li Администрирование профиля Facebook
            li Подготовка контента для размещения
            li Создание искуственного спроса
            li Создание рассылок для
            li интересующихся пользователей
            li Таргетированная реклама
            li Работа с блогерами
            li Работа над репутицией бренда
          p.bottom: b: span Контракт на 2 месяца
        .services__footer: div
          .services__price от 24 990 рублей ежемесячно
          .services__oldprice 40 000 рублей
        a.services__button(href='#') УЗНАТЬ ПОДРОБНЕЕ
