.hero.coursesHero.lines
  .hero__bgText GENERAL
  .hero__bgText.hero__bgText--small MARKETING

  .coursesHero__image: img.hero__image.lazy(data-src='modules/coursesHero/img/coursesHero-image.png')

  .c
    h1.coursesHero__title
      .coursesHero__top.coursesHero__bg Онлайн курс
      | #[span.coursesHero__bg от] #[span General] Marketing
    .coursesHero__sub по увеличению продаж до 1000%
    .coursesHero__target ДЛЯ ОКОННИКОВ
