@critical critical-courses.css
  .coursesHero
    .c
      z-index 3
      padding-bottom: 57px
      height: 871px
      @media (max-width: $breakpoint-lg - 1)
        max-height: 755px
      @media (max-width: $breakpoint-md - 1)
        max-height: 702px
        padding-bottom: 144px

    &__title, &__sub, &__target
      margin-left: -15px
      @media (max-width: $breakpoint-lg - 1)
        margin-left: 0

    &__title
      font-size: 120px
      line-height: 1
      font-weight: bold;
      position: relative;
      margin-bottom: 3px
      @media (max-width: $breakpoint-lg - 1)
        font-size: 60px
        line-height: 72px
      @media (max-width: $breakpoint-md - 1)
        font-size: 48px
        line-height: 60px
        margin-bottom: 22px

      span
        color: $blue
        @media (max-width: $breakpoint-lg - 1)
          color: inherit

    &__bg
      overflow: hidden
      background-image: url(./img/coursesHero-textBg.jpg);
      background-size: cover
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent

    &__top
      display: block;
      @media (max-width: $breakpoint-lg - 1)
        font-size: 72px
      @media (max-width: $breakpoint-md - 1)
        font-size: inherit;

    &__sub
      font-size: 48px
      line-height: 1
      font-weight: bold;
      margin-bottom: 13px
      @media (max-width: $breakpoint-lg - 1)
        font-size: 36px
      @media (max-width: $breakpoint-md - 1)
        font-size: 30px

    &__target
      display: inline-block;
      color: $blue
      font-weight: bold;
      font-size: 72px
      line-height: 1
      padding-bottom: 4px
      border-bottom: 7px solid $blue;
      @media (max-width: $breakpoint-lg - 1)
        font-size: 48px
      @media (max-width: $breakpoint-md - 1)
        border-bottom: 0

    &__image
      @media (max-width: $breakpoint-lg - 1)
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform scale(.75)
        z-index: 1
      @media (max-width: $breakpoint-mg - 1)
        transform scale(.55)

      img
        margin-left: -198px
        transform: translateX(50px)
        @media (max-width: $breakpoint-lg - 1)
          display: block;
          margin-left: -189px
        @media (max-width: $breakpoint-md - 1)
          margin-left: -147px

