.hero.marketingHero.lines
  .marketingHero__bgText.hero__bgText GENERAL
  .marketingHero__bgText.hero__bgText.hero__bgText--small MARKETING

  .marketingHero__image: img.hero__image.lazy(data-src='modules/marketingHero/marketingHero-sculpture.png')

  .c
    h1.marketingHero__title
      span Комплексный
      br
      | интернет-маркетинг
    .marketingHero__sub Разработка - тестирование - результат
