.coursesFaq
  .c
    .blockTitle.coursesFaq__title Часто задаваемые вопросы
    .coursesFaq__items
      .coursesFaq__col
        .coursesFaq__item
          .coursesFaq__header Как не обоссаться от нашего курса?
          .coursesFaq__body: .coursesFaq__inner
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        .coursesFaq__item
          .coursesFaq__header Как не обоссаться от нашего курса?
          .coursesFaq__body: .coursesFaq__inner
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        .coursesFaq__item
          .coursesFaq__header Как не обоссаться от нашего курса?
          .coursesFaq__body: .coursesFaq__inner
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.

      .coursesFaq__col
        .coursesFaq__item
          .coursesFaq__header Как не обоссаться от нашего курса?
          .coursesFaq__body: .coursesFaq__inner
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        .coursesFaq__item
          .coursesFaq__header Как не обоссаться от нашего курса?
          .coursesFaq__body: .coursesFaq__inner
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.

  .paroller.coursesFaq__image: img.lazy(data-src='images/bust10.png' width=317 height=380 onload='paroller(event)')
  img.coursesFaq__image2.lazy(data-src='modules/coursesFaq/img/coursesFaq-text.png')
