@critical critical-contacts.css
  .contactsHero
    &__title
      font-size: 36px
      line-height: 48px
      font-weight: bold
      margin-left: -2px

      .big
        display: block;
        margin-left: -1px
        font-size: 89px
        color: $blue
        margin-top: 25px
        @media (max-width: $breakpoint-lg - 1)
          font-size: 60px
          margin-top: 63px

    &__image
      margin-left: -81px
      transform: translateX(50px)

    &__image2
      img
        transform: translateX(30px) rotate(15deg)
        @media (max-width: $breakpoint-lg - 1)
          margin-left: 65px;
          bottom: -125px;
        @media (max-width: $breakpoint-md - 1)
          width: 200px
          height: 240px
          margin-left: 20px;
          bottom: -100px

