.contactsHero
  background: url(../../images/mountains.jpg) 50% 100% repeat-x;
  @media (max-width: $breakpoint-lg - 1)
    text-align: center
  .c
    display: flex
    height 868px
    position: relative
    z-index: 2
    align-items center
    @media (max-width: $breakpoint-lg - 1)
      height: 95vh
      max-height 750px
      justify-content center

  &__title
    font-size: 36px
    line-height: 48px
    font-weight: bold
    margin-left: -2px

    .big
      margin-left: -1px
      font-size: 89px
      color: $blue
      margin-top: 25px
      @media (max-width: $breakpoint-lg - 1)
        font-size: 60px
        margin-top: 63px

  &__image
    background-image: url(../../images/horse2.png);
    background-size: contain
    background-position: 50% 50%;
    width: 753px
    height: 737px
    position: absolute
    bottom: 0px
    left: 50%
    margin-left: -81px
    z-index: 1
    pointer-events none
    @media (max-width: $breakpoint-lg - 1)
      background-image: url(../../images/bust3.png);
      width: 246px
      height: 287px
      margin-left: 65px;
      bottom: -125px;
    @media (max-width: $breakpoint-md - 1)
      width: 200px
      height: 240px
      margin-left: 20px;
      bottom: -100px

