.hero.lines
  img.hero__image.contactsHero__image.lazy(data-src='images/horse2.png')
  .paroller.hero__image2.contactsHero__image2: img.lazy(data-src='images/bust3.png' onload='paroller(event)')

  .c
    h1.contactsHero__title
      | Контакты Первого агентства#[br]интернет маркетинга
      .big General Marketing
