.hero.lines
  img.hero__image.contextHero__image.lazy(data-src='images/horse2.png')
  img.hero__image2.contextHero__image2.lazy(data-src='images/bust3.png')

  .c
    h1.contactsHero__title
      | Контакты Первого агентства#[br]интернет маркетинга
      .big General Marketing
