.hero.lines
  .hero__bgText GENERAL
  .hero__bgText.hero__bgText--small MARKETING

  img.hero__image.portfolioHero__image.lazy(data-src='images/horse3.png')
  img.hero__image2.portfolioHero__image2.lazy(data-src='images/bust6.png')

  .c
    h1.portfolioHero__title
      .portfolioHero__title--top General
      .portfolioHero__title--overflow(data-text='General')
      .portfolioHero__title--bottom Marketing
    .portfolioHero__sub Вы смотрите работы Первого агентства интернет маркетинга Санкт-Петербурга
