.team.lines
  .c
    h2.team__title Теперь #[span Вы] знаете о нашей компании больше Можно раскрыть #[span Вам] свои карты..
    .team__sub Основной посыл нашей работы заключается в том, что мы не пытаемся Вам продать наши услуги, мы просто хотим помочь Вам сделать правильный выбор.
  .team__container
    .c
      .team__slider: .team__items
        .navBtn.team__slide.team__arrow: svg: use(xlink:href="#arrow")
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-01.png')
          .team__position: div #[span Дмитрий]#[br] Лейтенант звонков
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-02.png')
          .team__position: div #[span Дмитрий]#[br]Генерал продаж
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-03.png')
          .team__position: div #[span Виктория]#[br]Капитан бренда
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-04.png')
          .team__position: div #[span Марк] Генерал#[br]контектной рекламы
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-05.png')
          .team__position: div #[span Егор]#[br]Генерал SMM
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-06.png')
          .team__position: div #[span Анна]#[br]Подполковник дизайна
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-07.png')
          .team__position: div #[span Александр] Старшина#[br]программирования
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-08.png')
          .team__position: div #[span Валерий]#[br]Сержант верстки
        .team__slide.team__item
          img.team__photo.lazy(data-src='modules/team/img/team-09.png')
          .team__position: div #[span Вероника]#[br]Майер контента

  .team__l.team__l--1: span G
  .team__l.team__l--2 E
  .team__l.team__l--3 N
  .team__l.team__l--4 E
  .team__l.team__l--5 R
  .team__l.team__l--6 L
  img.team__image.lazy(data-src='images/bust2.png')