.problems.lines
  .c
    h2.problems__title Возможно #[span ВЫ] уже работали с другими #[span агентсвами] и столкнулись с такими проблемами как:
    .problems__items
      .problems__item.problems__item--1 Срыв#[br]сроков
      .problems__item.problems__item--2 Слив#[br]бюжета
      .problems__item.problems__item--3 Нулевая#[br]отдача
      .problems__item.problems__item--4 Непонимание#[br]Ваших бизнес#[br]процессов
      .problems__item.problems__item--5 Невыполненные#[br]Обязательсвта
  img.problems__image.lazy(data-src='images/sculpture.png')