.sitesSelect.lines.noise
  img.lazy.sitesSelect__image(data-src='images/sculpture6.png')
  img.lazy.sitesSelect__image2(data-src='modules/sitesSelect/bg.png')

  .c
    h2.title.sitesSelect__title
      | В создании сайтов есть одна, самая главная мысль.
      .big Вам нужно ее уловить

    .sitesSelect__content
      .sitesSelect__text
        p Не бывает дорогих сайтов. Бывают сайты которые приносят результат а бывают сайты которые результат не принесут никогда в жизни.
        p Обычно, хороший сайт окупается за 1-2 месяца работы.  Далее работа только в плюс. Подумайте об этом, когда найдете объявление, что сайт делается за 5 000 рублей. Такой сайт с вероятность 100% результата не принесет, Вы расстроитесь, а потом все переделывать опять
      .sitesSelect__cta Какой вариант выберите вы?
      .sitesSelect__buttons
        a.btn
          svg.icon-lines: use(xlink:href="#2lines")
          | Сайт который принесет результат
        a.btn
          svg.icon-lines: use(xlink:href="#2lines")
          | Сайт, результата от которого не будет

