.coursesTeachers.lines
  .c
    .blockTitle.coursesTeachers__title Преподаватели курса
    .coursesTeachers__content
      img.coursesTeachers__image.lazy(data-src='modules/coursesTeachers/img/coursesTeachers-img.png' width=771 height=940)

      .coursesTeachers__name.coursesTeachers__name--left Марк Высотин
      .coursesTeachers__name.coursesTeachers__name--right Никита Трунов

      .coursesTeachers__infos
        .coursesTeachers__info.coursesTeachers__info--left
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          .coursesTeachers__label Марк Высотин, маркетолог

        .coursesTeachers__info.coursesTeachers__info--right
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          .coursesTeachers__label Никита Трунов, маркетолог

    .coursesTeachers__block
      .coursesTeachers__header Создаем каналы для общения
      .coursesTeachers__slider
        .coursesTeachers__items
          .coursesTeachers__item
            img.coursesTeachers__icon.lazy(data-src='modules/coursesTeachers/img/coursesTeachers-icon.png' width=101 height=101)
            .coursesTeachers__text Телеграмм группа, в которой будут собраны Ваши соратники разного уровня и Вы сможете задать интересующие вопросы

          .coursesTeachers__item
            img.coursesTeachers__icon.lazy(data-src='modules/coursesTeachers/img/coursesTeachers-icon.png' width=101 height=101)
            .coursesTeachers__text Бизнес группа, которая сможет помочь Вам подчерпнуть нужную мотивацию и улучшить свои результаты.

        .navBtn.navBtn--prev.coursesTeachers__nav.coursesTeachers__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.coursesTeachers__nav.coursesTeachers__nav--next: svg: use(xlink:href="#arrow")
