.images.lines
  .c
    .images__slider: .images__items
      .images__item: img.images__image(src='modules/images/img/01.png')
      .images__item: img.images__image(src='modules/images/img/02.png')
      .images__item: img.images__image(src='modules/images/img/03.png')
      .images__item: img.images__image(src='modules/images/img/04.png')
      .images__item: img.images__image(src='modules/images/img/05.png')
      .images__item: img.images__image(src='modules/images/img/06.png')
