.coursesTestimonials.lines
  .c
    .blockTitle.coursesTestimonials__title Результаты предыдущего потока

    .coursesTestimonials1
      .coursesTestimonials1__slider
        .coursesTestimonials1__items

          .coursesTestimonials1__item: .coursesTestimonials1__card
            .coursesTestimonials1__image
              img.coursesTestimonials1__img.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')
              img.coursesTestimonials1__img.coursesTestimonials1__img--back.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')

            .coursesTestimonials1__content
              .coursesTestimonials1__name Марина Васильева
              .coursesTestimonials1__text
                p: b Выросла в 2010 процентов
                p: b получила более 100 обращений в первый месяц.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

          .coursesTestimonials1__item: .coursesTestimonials1__card
            .coursesTestimonials1__image
              img.coursesTestimonials1__img.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')
              img.coursesTestimonials1__img.coursesTestimonials1__img--back.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')


            .coursesTestimonials1__content
              .coursesTestimonials1__name Марина Васильева
              .coursesTestimonials1__text
                p: b Выросла в 2010 процентов
                p: b получила более 100 обращений в первый месяц.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

          .coursesTestimonials1__item: .coursesTestimonials1__card
            .coursesTestimonials1__image
              img.coursesTestimonials1__img.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')
              img.coursesTestimonials1__img.coursesTestimonials1__img--back.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')


            .coursesTestimonials1__content
              .coursesTestimonials1__name Марина Васильева
              .coursesTestimonials1__text
                p: b Выросла в 2010 процентов
                p: b получила более 100 обращений в первый месяц.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

          .coursesTestimonials1__item: .coursesTestimonials1__card
            .coursesTestimonials1__image
              img.coursesTestimonials1__img.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')
              img.coursesTestimonials1__img.coursesTestimonials1__img--back.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img1.jpg')

            .coursesTestimonials1__content
              .coursesTestimonials1__name Марина Васильева
              .coursesTestimonials1__text
                p: b Выросла в 2010 процентов
                p: b получила более 100 обращений в первый месяц.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

        .navBtn.navBtn--prev.coursesTestimonials1__nav.coursesTestimonials1__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.coursesTestimonials1__nav.coursesTestimonials1__nav--next: svg: use(xlink:href="#arrow")

    .coursesTestimonials2
      .coursesTestimonials2__slider
        .coursesTestimonials2__items

          .coursesTestimonials2__item: .coursesTestimonials2__card
            img.coursesTestimonials2__image.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img2.jpg')
            .coursesTestimonials2__name Олег Николаевич
            .coursesTestimonials2__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.sis.

          .coursesTestimonials2__item: .coursesTestimonials2__card
            img.coursesTestimonials2__image.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img2.jpg')
            .coursesTestimonials2__name Олег Николаевич
            .coursesTestimonials2__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.sis.

          .coursesTestimonials2__item: .coursesTestimonials2__card
            img.coursesTestimonials2__image.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img2.jpg')
            .coursesTestimonials2__name Олег Николаевич
            .coursesTestimonials2__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.sis.

          .coursesTestimonials2__item: .coursesTestimonials2__card
            img.coursesTestimonials2__image.lazy(data-src='modules/coursesTestimonials/img/coursesTestimonials-img2.jpg')
            .coursesTestimonials2__name Олег Николаевич
            .coursesTestimonials2__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.sis.

        .coursesTestimonials2__buttons
          .navBtn.navBtn--prev.coursesTestimonials2__nav.coursesTestimonials2__nav--prev: svg: use(xlink:href="#arrow")
          .navBtn.navBtn--next.coursesTestimonials2__nav.coursesTestimonials2__nav--next: svg: use(xlink:href="#arrow")

  .paroller.coursesTestimonials__image: img.lazy(data-src='images/bust14.png' onload='paroller(event)' width=298 height=355)
