.siteTypes.lines
  .c
    h2.title.title--bg.siteTypes__title Сайты бывают разные
    .siteTypes__slider: .siteTypes__items
      .siteTypes__item.siteTypes__arrow: .navBtn: svg: use(xlink:href="#arrow")
      each item in [['Landing Page', 'Одностраничный сайт, нацеленный на продажу товара или услуги.'], ['Многостраничный сайт', 'Сайт, для полного представления товара или услуги содержащий 2 или более страниц.'], ['Интернет магазин', 'Сайт, с широким выбором товаров, показывающий в основном большое кол-во продукции.'], ['Сайт-портал', 'Сайт с личным кабинетов и возможностью живого общения непосредственно в директории сайта.'], ['Корпоративный сайт', 'Сайт с личным кабинетов и возможностью живого общения непосредственно в директории сайта.'], ['SEO продвижение', 'Продвижение в поисковой органической выдаче Яндекса и Гугла.']]
        .siteTypes__item
          .siteTypes__inner
            .siteTypes__name=item[0]
            .siteTypes__desc=item[1]
            .siteTypes__price от #[span 39 990] рублей
            a.siteTypes__button Нужен такой сайт?

  img.siteTypes__image.lazy(data-src='images/bust2.png')