.sitesReason.lines
  img.lazy.sitesReason__image(data-src='images/sculpture5.png')
  img.lazy.sitesReason__image2(data-src='images/bust.png')

  .c
    h2.title.sitesReason__title
      |Но почему #[span Вы]
      .big можете довериться нам?

    .sitesReason__items
      .sitesReason__item
        .sitesReason__name У нас большой опыт для решения этой#[br]задачи.
        .sitesReason__text За время работы, наша компания запроектировала и разработала более 200 сайтов, которые успешно работают и приносят прибыль своим владельцам.

      .sitesReason__item
        .sitesReason__name Лучшая показатель нашей компетенции#[br]это наши клиенты
        .sitesReason__text Мы без проблем дадим Вам контакты наших клиентов, у которых Вы можете сами узнать как это работать с нами и получить результаты с сайта уже завтра. Мы совершенно открыты.

      .sitesReason__item.sitesReason__item--big
        .sitesReason__name Наши клиенты растут вместе#[br]с нами
        .sitesReason__text На главной странице вы можете найти реальную историю нашего клиента, его путь до работы с нами и сейчас, через 2 года работы.  Он показывает, что мы смогли не только продвинуть его бизнес в сети интернет, но и помогли ему вырости в масштабах.

