.coursesPrices.lines
  .paroller.coursesPrices__image: img.lazy(data-src='modules/coursesPrices/img/coursesPrices-img.png' width=1127 height=829 onload='paroller(event)')
  .paroller.coursesPrices__image2: img.lazy(data-src='images/bust5.png' width=390 height=464 onload='paroller(event)')

  .c
    .blockTitle.coursesPrices__title Сколько стоит курс и что это Вам принесет
    .coursesPrices__slider
      .coursesPrices__items
        .coursesPrices__item: .coursesPrices__card.coursesPrices__card--grey
          .coursesPrices__header Бесплатный#[br]вебинар-знакомство
          .coursesPrices__text
            ul
              li Разберем курс
              li Познакомимся
              li Расскажем о General Marketing
              li Дадим правктику а не теорию
          .coursesPrices__price 0 рублей
          .coursesPrices__info
            | Старт: 1.02.2020 в 20.00
            .coursesPrices__sub Регистрация на бесплатный вебинар не обязывает Вас к покупке
          a.coursesPrices__button(href='#') Записаться

        .coursesPrices__item: .coursesPrices__card
          .coursesPrices__header Полный курс#[br]по продвижению Окон
          .coursesPrices__text
            ul
              li Разберем курс
              li Познакомимся
              li Расскажем о General Marketing
              li Дадим правктику а не теорию
              li Дополнительно расписать Преимущества
          .coursesPrices__price 4 990 рублей
          .coursesPrices__info
            | Старт: 4.02.2020 в 20.00
          a.coursesPrices__button(href='#') Записаться

        .coursesPrices__item: .coursesPrices__card
          .coursesPrices__header Полный курс#[br]+ личные консультации
          .coursesPrices__text
            ul
              li Разберем курс
              li Познакомимся
              li Расскажем о General Marketing
              li Дадим правктику а не теорию
          .coursesPrices__price 6 990 рублей
          .coursesPrices__info
            | Старт: 4.02.2020 в 20.00
          a.coursesPrices__button(href='#') Записаться

      .coursesPrices__buttons
        .navBtn.navBtn--prev.coursesPrices__nav.coursesPrices__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.coursesPrices__nav.coursesPrices__nav--next: svg: use(xlink:href="#arrow")
