.coursesReasons.lines
  .c
    h2.coursesReasons__title Почему наш курс подойдет #[br]Вам в 2020 году?
    .coursesReasons__slider
      .coursesReasons__items
        .coursesReasons__item
          .coursesReasons__card
            .coursesReasons__header Новая школа
            .coursesReasons__text
              p Мы молодые, но уже опытные. Мы расскажем Вам о всех новейших трендах интернет маркетинга, которые будут подкреплены реальными работами и опытом.
        .coursesReasons__item
          .coursesReasons__card
            .coursesReasons__header Короткий онлайн интенсив
            .coursesReasons__text
              p Всего 5 занятий расскажут Вам, как по настоящему преуспеть в интернете в нише окон с любым бюджетом!
              p Не нужно тратить свое время на просиживание за партой всей лекции. Во времена технологий, вам нужен только ноутбук.
        .coursesReasons__item
          .coursesReasons__card
            .coursesReasons__header 100% гарантия результата
            .coursesReasons__text
              p Результат из Вашей личной точки А до вашей личной точки Б. Мы покажем, что работает и что может принести результат именно Вам, вне зависимости от того, в какой точке вы находитесь.
        .coursesReasons__item
          .coursesReasons__card
            .coursesReasons__header Мы целим именно в Оконную нишу!
            .coursesReasons__text
              p Зачем вам узнавать стандартные позиции о маркетинге других ниш? Вам важны окна. Про них мы и будем говорить. Маркетинг для окон очень сложен, но мы поможем Вам!

      .coursesReasons__buttons
        .navBtn.navBtn--prev.coursesReasons__nav.coursesReasons__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.coursesReasons__nav.coursesReasons__nav--next: svg: use(xlink:href="#arrow")

    .coursesReasons__sub Вся информация выдающаяся на курсе #[br]основана на новейших данных за 2019-2020 год!
  img.lazy.coursesReasons__img(data-src='modules/coursesReasons/img/coursesReasons-img.png' width=430 height=374)
