.hero.lines
  .hero__bgText GENE#[span RAL]
  .hero__bgText.hero__bgText--small MARKETING

  img.hero__image.contextHero__image.lazy(data-src='images/sculpture2.png')
  img.hero__image2.contextHero__image2.lazy(data-src='images/bust3.png')

  .c
    h1
      .contextHero__title
        .contextHero__bg Контекстная
        | реклама
      .contextHero__sub
        | От которой Ваши конкуренты#[br]
        | упадут в обморок
