.contextHero
  &__title
    font-size: 120px
    line-height: 100px
    font-weight: bold
    margin-left: -8px
    @media (max-width: $breakpoint-lg - 1)
      margin-left: 0
    @media (max-width: $breakpoint-md - 1)
      font-size: 78px
      line-height: 78px

  &__bg
    display: block
    background: url(../../images/textbg.jpg) 50% 50%;
    background-size: cover
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
    @media (max-width: $breakpoint-lg - 1)
      font-size: 100px
    @media (max-width: $breakpoint-md - 1)
      font-size: 78px

  &__sub
    font-size: 48px
    line-height: 1
    font-weight: bold
    color: $blue
    margin-left: -4px
    margin-top: 30px
    @media (max-width: $breakpoint-lg - 1)
      margin-left: 0
      line-height: 60px
      margin-top: 35px
    @media (max-width: $breakpoint-md - 1)
      font-size: 36px
      line-height: 48px
      margin-top: 25px

  &__image
    margin-left: -15px
    transform: translateX(50px)

  &__image2
    margin-left: 50px;
    margin-bottom: -125px
    transform: translateX(30px) rotate(15deg)
    @media (max-width: $breakpoint-md - 1)
      width: 200px
      margin-left: 0px;
      bottom: -85px

