@font-face {
  font-family: 'PT Sans Narrow';
  font-display: swap;
  src: url('fonts/hinted-subset-PTSans-Narrow.eot');
  src: url('fonts/hinted-subset-PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-PTSans-Narrow.woff2') format('woff2'),
          url('fonts/hinted-subset-PTSans-Narrow.woff') format('woff'),
          url('fonts/hinted-subset-PTSans-Narrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-display: swap;
  src: url('fonts/hinted-subset-PTSans-NarrowBold.eot');
  src: url('fonts/hinted-subset-PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-PTSans-NarrowBold.woff2') format('woff2'),
          url('fonts/hinted-subset-PTSans-NarrowBold.woff') format('woff'),
          url('fonts/hinted-subset-PTSans-NarrowBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url('fonts/hinted-subset-PTSans-Regular.eot');
  src: url('fonts/hinted-subset-PTSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-PTSans-Regular.woff2') format('woff2'),
          url('fonts/hinted-subset-PTSans-Regular.woff') format('woff'),
          url('fonts/hinted-subset-PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url('fonts/hinted-subset-PTSans-Bold.eot');
  src: url('fonts/hinted-subset-PTSans-Bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-PTSans-Bold.woff2') format('woff2'),
          url('fonts/hinted-subset-PTSans-Bold.woff') format('woff'),
          url('fonts/hinted-subset-PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url('fonts/hinted-subset-PTSans-Italic.eot');
  src: url('fonts/hinted-subset-PTSans-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-PTSans-Italic.woff2') format('woff2'),
          url('fonts/hinted-subset-PTSans-Italic.woff') format('woff'),
          url('fonts/hinted-subset-PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url('fonts/hinted-subset-PTSans-BoldItalic.eot');
  src: url('fonts/hinted-subset-PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-PTSans-BoldItalic.woff2') format('woff2'),
          url('fonts/hinted-subset-PTSans-BoldItalic.woff') format('woff'),
          url('fonts/hinted-subset-PTSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-100.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-100.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-100.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-100Italic.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-100Italic.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-100Italic.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-100Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-300.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-300.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-300.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-300Italic.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-300Italic.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-300Italic.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-300Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-500.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-500.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-500.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-500Italic.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-500Italic.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-500Italic.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-500Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-700.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-700.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-700.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-700Italic.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-700Italic.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-700Italic.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-700Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Museo Sans Cyrl 900';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-900.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-900.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-900.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  font-display: swap;
  src: url('fonts/hinted-subset-MuseoSansCyrl-900Italic.eot');
  src: url('fonts/hinted-subset-MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/hinted-subset-MuseoSansCyrl-900Italic.woff2') format('woff2'),
          url('fonts/hinted-subset-MuseoSansCyrl-900Italic.woff') format('woff'),
          url('fonts/hinted-subset-MuseoSansCyrl-900Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Acumin Pro Condensed';
  font-display: swap;
  src: url('fonts/AcuminProCond-UltraBlack.eot');
  src: local('Acumin Pro Condensed Ult Black'), local('AcuminProCond-UltraBlack'),
          url('fonts/AcuminProCond-UltraBlack.eot?#iefix') format('embedded-opentype'),
          url('fonts/AcuminProCond-UltraBlack.woff2') format('woff2'),
          url('fonts/AcuminProCond-UltraBlack.woff') format('woff'),
          url('fonts/AcuminProCond-UltraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin Pro ExtraCondensed';
  font-display: swap;
  src: url('fonts/AcuminProExtraCond-UltraBlack.eot');
  src: local('Acumin Pro ExtraCondensed UlBlk'), local('AcuminProExtraCond-UltraBlack'),
          url('fonts/AcuminProExtraCond-UltraBlack.eot?#iefix') format('embedded-opentype'),
          url('fonts/AcuminProExtraCond-UltraBlack.woff2') format('woff2'),
          url('fonts/AcuminProExtraCond-UltraBlack.woff') format('woff'),
          url('fonts/AcuminProExtraCond-UltraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

