.title
  font-size: 36px
  line-height: 48px

  @media (max-width: $breakpoint-md - 1)
    font-size: 30px

  span
    color: $blue

  .big
    font-size: 48px
    line-height: 60px
    font-weight: bold
    color: $blue
    margin-top: 2px
    @media (max-width: $breakpoint-md - 1)
      margin-top: 0
      font-size: 30px
      line-height: 48px
