.videos.lines(class=VIDEOS_NOISE && 'noise')
  .c
    h2.title.videos__title
      |Посмотрите несколько видеоотзывов
      .big наших клиентов
        
  .videos__container.c
    .videos__slider: .videos__items
      .videos__item: .videos__inner
        .videos__video: a.videoFrame(href='https://www.youtube.com/watch?v=T7wofidfrpc' target='_blank')
          .videoFrame__preview.lazyBg(data-bg='url(https://img.youtube.com/vi/T7wofidfrpc/maxresdefault.jpg)')
          .videoFrame__play
        .videos__name
          b Благодарность отзыв №1
          |Александр Анисимов
      .videos__item: .videos__inner
        .videos__video: a.videoFrame(href='https://www.youtube.com/watch?v=T7wofidfrpc' target='_blank')
          .videoFrame__preview.lazyBg(data-bg='url(https://img.youtube.com/vi/T7wofidfrpc/maxresdefault.jpg)')
          .videoFrame__play
        .videos__name
          b Благодарность отзыв №1
          |Александр Анисимов
      .videos__item: .videos__inner
        .videos__video: a.videoFrame(href='https://www.youtube.com/watch?v=T7wofidfrpc' target='_blank')
          .videoFrame__preview.lazyBg(data-bg='url(https://img.youtube.com/vi/T7wofidfrpc/maxresdefault.jpg)')
          .videoFrame__play
        .videos__name
          b Благодарность отзыв №1
          |Александр Анисимов
    .videos__buttons
      .navBtn.navBtn--prev.videos__nav.videos__nav--prev: svg: use(xlink:href="#arrow")
      .navBtn.navBtn--next.videos__nav.videos__nav--next: svg: use(xlink:href="#arrow")

  .videos__image
    .cannon
      .cannon__image
        img.cannon__cannon.lazy(data-src='images/cannon.png' onload="cannon()")
        img.cannon__fire.lazy(data-src='images/cannon-fire.png' onload="cannon()")
      //.cannon__smoke: img.lazy(data-src='images/cannon-smoke.png' onload="cannon()")
      img.cannon__smoke.lazy(data-src='images/cannon-smoke.png' onload="cannon()")
      img.cannon__ball.lazy(data-src='images/cannon-ball.png' onload="cannon()")
  if(!HIDE_VIDEOS_IMAGE)
    .paroller.videos__image2: img.lazy(data-src='images/bust3.png' onload='paroller(event)')