.hero.lines.seoHero
  .hero__bgText GENE#[span RAL]
  .hero__bgText.hero__bgText--small MARKETING

  .seoHero__image: img.hero__image.lazy(data-src='modules/seoHero/img/seoHero-sculpture.png' width=444 height=711)

  .c
    h1
      .seoHero__title
        .seoHero__bg SEO
        | продвижение
    .seoHero__sub
      | Поисковый маркетинг, #[br]
      | приносящий результат
