.siteForm.lines.noise
  img.lazy.siteForm__image(data-src='images/dmitry.png')
  img.lazy.siteForm__image2(data-src='images/dmitry-sm.png')
  img.lazy.siteForm__image3(data-src='images/bust6.png')

  .c: .siteForm__content
    h2.title.siteForm__title
      |Но как же выбрать тот, который
      .big подойдет именно Вам?
    .siteForm__text
      p Вы можете проштудировать гору литературы, посмотреть своих конкурентов или просто обратиться к нам!
      p Мы сможем подсказать, какой вариант подойдет именно Вам, а так же дадим консультацию, на что обратить внимание при выборе подрядчика для создания сайта.
    .siteForm__form
      form
        .input.siteForm__input: input.input__input(placeholder='Просто введите Ваше имя:')
        .input.siteForm__input: input.input__input(placeholder='И ваш номер телефона:')
        button.siteForm__button И мы поможем Вам определить какой#[br]сайт Вам необходим

  .siteForm__info
    svg: use(xlink:href="#check")
    .siteForm__inner
      .siteForm__name Шаяхметов Дмитрий.
      p Один из основателей компании
      p Является личным консультантом компании-застройщика по вопросам маркетинга
