.guaranties.lines(class=GUARANTIES_NOISE && 'noise')
  .c
    h2.title.guaranties__title Мы даем четкие #[span гарантии] в договоре, при невыполнении которых, Мы обязуемся Вернуть Вам деньги.
    .guaranties__items
      .guaranties__item К сожалению, единственно за что мы отвечать не можем это продажи.
      .guaranties__item Но мы можем найти точки контакта с Вашими менеджерами, для улучшения этих показателей.
      .guaranties__item Горячий трафик на Ваш медиа-ресурс с нами будет обеспечен!
    .guaranties__aside
      img.guaranties__image2.lazy(data-src='images/document.png')
      a.btn.popup__opener(href='#callback')
        svg.icon-lines: use(xlink:href="#2lines")
        | Я люблю гарантии, давайте работать!

  img.guaranties__image.lazy(data-src='images/bust4.png')