.coursesWelcome.lines
  .c
    .coursesWelcome__items
      .coursesWelcome__item
        | Вам нужны клиенты#[br]
        | в оконную тематику?
      .coursesWelcome__item
        | Вы устали от постоянных #[br]
        | демпингов со стороны #[br]
        | конкурентов?
      .coursesWelcome__item
        | Разочаровались в #[br]
        | интернет продвижении #[br]
        | и думаете что это не #[br]
        | работает?
    .coursesWelcome__block
      .coursesWelcome__title У нас есть #[span супер] решение!
      .coursesWelcome__text Разорвите рынок с помощью нашего #[span 5-ти] дневного #[span курса] с любым бюджетом!
      a.btn.btn--outline
        svg.icon-3lines: use(xlink:href="threeLines")
        | Первое занятие 0 рублей!
  .paroller.coursesWelcome__image: img.lazy(data-src='images/bust4.png' onload='paroller(event)')
