.seoPrice.lines
  .paroller.seoPrice__image1: img.lazy(data-src='images/bust2.png' onload='paroller(event)' width=263 height=289)
  .paroller.seoPrice__image2: img.lazy(data-src='images/bust13.png' onload='paroller(event)' width=283 height=316)
  .c
    h2.blockTitle.seoPrice__title Почему мы, и сколько это стоит?
    .seoPrice__content
      .seoPrice__bullets
        .seoPrice__bullet.seoPrice__bullet--01
          .seoPrice__header Продвигаем всю семантику
          .seoPrice__text Нету разделения продвижения по позициям и по трафику. Мы делаем ровно то, что проносит ощутимый результат, не ограничивая количество запросов.

        .seoPrice__bullet.seoPrice__bullet--02
          .seoPrice__header Гарантия защиты от фильтров
          .seoPrice__text При черном или сером продвижении ваш сайт может попасть под фильтры Яндекса и Гугла. Мы работаем только белыми методами, что позволяет Вашему бизнесу быть уверенным в завтрашнем дне, не боясь неожиданных блокировок.

        .seoPrice__bullet.seoPrice__bullet--03
          .seoPrice__header Над проектом работает команда, а не один специалист
          .seoPrice__text В нашей команде над одним проектом будут работать: Маркетолог, СЕО специалист, Копирайтер, Дизайнер, WEB-разработчик. Это синергия позволит достич наилучшего результата в поисковом продвижении.

      .seoPrice__cards
        .seoPrice__slider
          .seoPrice__items
            .seoPrice__item.seoPrice__item--1
              .seoPrice__inner
                .seoPrice__name SEO продвижение#[br]корпоративных сайтов
                .seoPrice__price от #[span 39 900] рублей
                a.seoPrice__button(href='#') Нужен такой сайт?

            .seoPrice__item.seoPrice__item--2
              .seoPrice__inner
                .seoPrice__name SEO продвижение#[br]интернет-магазинов
                .seoPrice__price от #[span 54 900] рублей
                a.seoPrice__button(href='#') Нужен такой сайт?

          .navBtn.navBtn--prev.seoPrice__nav.seoPrice__nav--prev: svg: use(xlink:href="#arrow")
          .navBtn.navBtn--next.seoPrice__nav.seoPrice__nav--next: svg: use(xlink:href="#arrow")
