.btn
  display: inline-flex
  align-items center
  justify-content center
  padding: 0 33px
  position: relative
  font-size: 16px
  font-weight: bold
  border: 2px solid $blue
  height: 66px
  cursor: pointer
  anim()

  &:after
    content: ''
    display: block
    position: absolute
    left: 100%
    margin-left: -5px
    top: 28px
    width: 10px
    height: 27px
    background: $blue
    anim()

  svg
    display: block
    margin-right: 28px
    anim()

  &:hover
    color: #ffffff
    background: $blue

    svg
      fill: #ffffff

  &--lineIcon
    &:before
      content: ''
      display: block
      width: 35px
      height: 4px
      background: $blue
      margin-right: 24px
      anim()

    &:hover:before
      background: $black

