.btnGroup
  display: flex
  align-items stretch
  margin: 0 -16px 31px
  @media (max-width: $breakpoint-lg - 1)
    flex-direction column
    margin: 0 0 46px

  .btn
    flex: 1
    margin: 0 16px
    padding-left: 122px
    height: 70px
    @media (max-width: $breakpoint-lg - 1)
      flex none
      margin: 0 0 18px
      display: flex
      padding-left: 33px

    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: 50%

    &:before
      width: 52px
      height: 1px
      background: $blue
      left: 25px
      anim()
      @media (max-width: $breakpoint-lg - 1)
        left: 178px
      @media (max-width: $breakpoint-md - 1)
        left: 45px

    &:after
      width: 12px
      height: 12px
      margin-top: -6px
      background: $black
      left: 77px
      @media (max-width: $breakpoint-lg - 1)
        left: 230px
      @media (max-width: $breakpoint-lg - 1)
        left: 98px

    &:hover
      &:before
        background: #ffffff