.cardsList
  overflow: hidden

  &__items
    display: flex
    flex-wrap wrap
    align-items flex-start
    justify-content center
    //padding-left: 38px
    margin: 0 -16px
    @media (max-width: $breakpoint-lg - 1)
      flex-wrap nowrap
      align-items center
      justify-content flex-start
      padding-left: 0px
      margin: 0

  &__slide
    flex-shrink 0
    margin: 0px 16px 106px
    position: relative
    @media (max-width: $breakpoint-lg - 1)
      margin-left: 0

  &__arrow
    flex-shrink 0
    display: none
    @media (max-width: $breakpoint-lg - 1)
      display: flex
