.form
  border: 20px solid $blue
  border-top: 0
  border-bottom: 0
  position: relative
  display: inline-block
  width: 100%
  @media (max-width: $breakpoint-lg - 1)
    border-width: 15px
    padding-bottom: 38px


  &:before, &:after
    content: ''
    display: block
    position: absolute
    width: 20px
    height: 20px
    background: $blue
    bottom: 0
    @media (max-width: $breakpoint-lg - 1)
      width: 24px
      height: 15px

  &:before
    left: 0px

  &:after
    right: 0px

  &--black-border
    border-color: $black

    &:before, &:after
      background: $black

    & ^[0]__title
      &:before, &:after
        background: $black

  &__title
    font-size: 24px
    line-height: 36px
    font-weight: bold
    color: $blue
    text-align: center
    margin-bottom: 42px
    //padding: 0 30px
    margin-top: -6px
    @media (max-width: $breakpoint-lg - 1)
      padding-top: 39px
      margin-bottom: 9px
    @media (max-width: $breakpoint-md - 1)
      padding-top: 48px

    &:before, &:after
      content: ''
      display: block
      position: absolute
      width: 20px
      height: 20px
      background: $blue
      top: 0
      @media (max-width: $breakpoint-lg - 1)
        width: 24px
        height: 15px

    &:before
      left: 0px

    &:after
      right: 0px

    &--centered
      //padding: 0
      margin-top: -37px
      margin-bottom: 24px

  &__text
    padding: 0 20px
    text-align: center
    font-size: 18px
    line-height: 36px
    margin-bottom: 44px
    @media (max-width: $breakpoint-lg - 1)
      margin-bottom: 1px

    &--compact
      font-size: 16px
      line-height: 24px
      margin-bottom: 36px

  &__input
    padding: 0 28px
    margin-bottom: 21px

  &__button
    margin-top: 53px
    text-align: center
    @media (max-width: $breakpoint-lg - 1)
      margin-top: 36px