.navBtn
  width: 58px
  height: 58px
  border: 1px dashed $black;
  align-items center
  justify-content center
  anim()

  &:hover
    background: $black
    border-style solid

  svg
    width: 30px
    height: 12px

  &--next
    svg
      transform: rotate(180deg)
