.videoFrame
  position: relative
  display: block
  width: 100%
  height: 100%
  border: 10px solid $black
  //overflow: hidden
  //padding 10px
  background: $black

  &:before, &:after
    content ''
    display: block
    position: absolute
    height: 10px
    background: $blue

  &:before
    width: 44px
    bottom: 100%
    left: 50%

  &:after
    width: 52px
    top: 100%
    right: 70px

  &:hover
    & ^[0]__play
      background: $black

      &:before
        background: $blue

  &--bordered
    border-width: 20px

    &:before, &:after
      height: 20px

  &--gray
    border-color: #e9e9e9

    &:after
      width: 29px
      top: 100%
      left: 147px

    & ^[0]__play
      bottom: -10px
      right: -10px

      &:before
        height: 10px

  &__preview
    position: absolute
    width: 100%
    height: 100%
    overflow: hidden
    background-size: cover
    background-position: 50% 50%;

    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(to bottom, rgba(0, 109, 254, 0) 70%, rgba(0, 109, 254, .4) 100%);

  &__play
    position: absolute
    width: 193px
    height: 94px
    background: $blue
    bottom: 0
    right: 0
    z-index: 1
    anim()

    &:before, &:after
      content: ''
      display: block
      position: absolute

    &:before
      width: 41px
      height: 9px
      background: $black
      left: 0
      bottom: 0
      anim()

    &:after
      background: url(../images/sprite-play.png)
      top: 50%
      left: 50%
      transform translate(-50%, -50%)


