.seoInfo.noise.lines
  .c
    h2.blockTitle.seoInfo__title Наша компания ориентирована на продажи
    .seoInfo__container: .seoInfo__items
      .seoInfo__item
        .seoInfo__header Релевантные запросы
        .seoInfo__text
          | Выводим сайт в топ только по тем поисковым #[br]
          | запросам, которые приводят покупателей. Мы #[br]
          | не будем тратить ваш бюджет на нецелевых #[br]
          | посетителей сайта.
      .seoInfo__item
        .seoInfo__header Учитываем коммерческие#[br]факторы
        .seoInfo__text
          | Улучшаем дизайн и интерфейс, за счет чего #[br]
          | повышаем сайт в позициях поисковой выдачи, #[br]
          | увеличиваем конверсию и приводим больше #[br]
          | клиентов.
      .seoInfo__item
        .seoInfo__header Работаем#[br]с рентабельностью
        .seoInfo__text
          | Выводим сайт в топ только по тем поисковым #[br]
          | запросам, которые приводят покупателей. Мы #[br]
          | не будем тратить ваш бюджет на нецелевых #[br]
          | посетителей сайта.
      .seoInfo__item
        .seoInfo__header Работаем в синергии#[br]с другими каналами
        .seoInfo__text
          | Выводим сайт в топ только по тем поисковым #[br]
          | запросам, которые приводят покупателей. Мы #[br]
          | не будем тратить ваш бюджет на нецелевых #[br]
          | посетителей сайта.
  .seoInfo__image: img.lazy(data-src='modules/seoInfo/img/seoInfo-img.png' width=276 height=454)
