.blog
  .c
    .blog__tags
      a.blog__tag(href='#') КОНТЕКСТ
      a.blog__tag(href='#') САЙТЫ
      a.blog__tag(href='#') СММ
      a.blog__tag(href='#') СЕО
      a.blog__tag(href='#') КОМПЛЕКСНЫЙ ИНТЕРНЕТ МАРКЕТИНГ

    .blog__items
      each i in [1,2,3,4,5]
        .blog__item
          .blog__image(style='background-image:url(modules/blog/blog-img.jpg)')
          .blog__content
            a.blog__title(href='#') В почта банке кретид с самой маленькой ставкой
            .blog__text
              p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
              //p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
            .blog__footer
              .blog__date 12.12.2019
              .blog__metriks
                .blog__metrik
                  svg: use(xlink:href="#eye")
                  | 12
                .blog__metrik
                  svg: use(xlink:href="#comment")
                  | 123
                .blog__metrik
                  svg: use(xlink:href="#share")
                  | 10
              a.blog__link(href='#') Читать далее

    include ../pagination/pagination
