.coursesForm
  .c
    .coursesForm__container
      form
        .coursesForm__title Успейте до 01.02.2020
        .coursesForm__text
          p Запишитесь на курс и получите раздаточный материал совершенно бесплатно!
        .coursesForm__form
          .input: input.input__input(placeholder='Ваш номер телефона:' type='tel')
          .input: input.input__input(placeholder='Ваша электронная почта:' type='email')
        button.coursesForm__button Записаться на курс
