.coursesResults
  .c
    .blockTitle.coursesResults__title Что вы получите, зарегистрировавшись на курс сейчас?
    .coursesResults__items
      .coursesResults__item
        .coursesResults__image: img.lazy(data-src='modules/coursesResults/img/coursesResults-01.png' style="left: -11px; top: 18px;")
        .coursesResults__content
          .coursesResults__head Раздаточные материалы
          .coursesResults__text Презентацию курса, релевантные статьи, видеозапись курса, чек-лист по успешному маркетингу 2020 от General Marketing, чек-лист "Найдите дыры в своей кампании"
      .coursesResults__item
        .coursesResults__image: img.lazy(data-src='modules/coursesResults/img/coursesResults-02.png' style="left: -81px; top: -11px;")
        .coursesResults__content
          .coursesResults__head Личное сопровождение от спикера
          .coursesResults__text Личная консультация и курирование от спикеров курса, с возможностью задать дополнительные вопросы и частный разбор ситуации Вашего бизнеса.
      .coursesResults__item
        .coursesResults__image: img.lazy(data-src='modules/coursesResults/img/coursesResults-03.png' style="left: 22px; top: 18px;")
        .coursesResults__content
          .coursesResults__head Проверка Домашнего задания от спикеров
          .coursesResults__text Проверка домашнего задания на каждом вебинаре, ответы на вопросы и консультации по интересующему вопросу.
      .coursesResults__item
        .coursesResults__image: img.lazy(data-src='modules/coursesResults/img/coursesResults-04.png' style="left: -106px; top: -32px;")
        .coursesResults__content
          .coursesResults__head Просмотр и рекомендации для Вашего сайта
          .coursesResults__text Бесплатно, при записи и оплате курса до бесплатного вебинара.

    .coursesResults__button.btn.btn--outline
      svg.icon-3lines: use(xlink:href="threeLines")
      | Записаться на курс
