.progress
  .c
    .progress__sup С нами такой проблемы не будет!
    h2.progress__title С нами, компании прогрессируют!
  .progress__container
    .c
      .progress__slider
        .progress__items
          .progress__item.progress__item--1: .progress__inner
            |Оборот компании:#[br]
            |#[b 250 000] рублей в месяц#[br]
            |Клиентов из интернета: #[b 2]#[br]
            |Крупных заказов: #[b 0]#[br]
            |Офисов в Санкт-Петербурге: #[b 1]
          .progress__item.progress__item--2: .progress__inner
            |Оборот компании:#[br]
            |#[b 580 000] рублей в месяц#[br]
            |Клиентов из интернета: #[b 15]#[br]
            |Крупных заказов: #[b 2]#[br]
            |Офисов в Санкт-Петербурге: #[b 1]
          .progress__item.progress__item--3: .progress__inner
            |Оборот компании:#[br]
            |#[b 1 300 000] рублей в месяц#[br]
            |Клиентов из интернета: #[b 48]#[br]
            |Крупных заказов: #[b 5]#[br]
            |Офисов в Санкт-Петербурге: #[b 1]
          .progress__item.progress__item--4: .progress__inner
            |Оборот компании:#[br]
            |#[b 2 500 000] рублей в месяц#[br]
            |Клиентов из интернета: #[b 120]#[br]
            |Крупных заказов: #[b 0]#[br]
            |Офисов в Санкт-Петербурге: #[b 4]#[br]
            |Офисов в Моске: 1

      .progress__scrollbar

  .paroller.progress__image: img.lazy(src='images/blank.gif' data-src='images/bust.png')
