.coursesProblems.lines
  .c
    h2.blockTitle.coursesProblems__title Мы знакомы с проблемами именно Вашей ниши!
    .coursesProblems__items
      .coursesProblems__item
        .coursesProblems__counter 01
        .coursesProblems__icon: img.lazy(data-src='modules/coursesProblems/img/coursesProblems-icon.png')
        .coursesProblems__header Перенасыщенный рынок
        .coursesProblems__text
          p Lorem ipsum dolor sit amet, consectetur aadipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed

      .coursesProblems__item
        .coursesProblems__counter 02
        .coursesProblems__icon: img.lazy(data-src='modules/coursesProblems/img/coursesProblems-icon.png')
        .coursesProblems__header Перенасыщенный рынок
        .coursesProblems__text
          p Lorem ipsum dolor sit amet, consectetur aadipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed

      .coursesProblems__item
        .coursesProblems__counter 03
        .coursesProblems__icon: img.lazy(data-src='modules/coursesProblems/img/coursesProblems-icon.png')
        .coursesProblems__header Перенасыщенный рынок
        .coursesProblems__text
          p Lorem ipsum dolor sit amet, consectetur aadipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed

      .coursesProblems__item
        .coursesProblems__counter 04
        .coursesProblems__icon: img.lazy(data-src='modules/coursesProblems/img/coursesProblems-icon.png')
        .coursesProblems__header Перенасыщенный рынок
        .coursesProblems__text
          p Lorem ipsum dolor sit amet, consectetur aadipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed

    .coursesProblems__sub: span И знаем как все эти проблемы решить!
  .coursesProblems__image
    .cannon
      .cannon__image
        img.cannon__cannon.lazy(data-src='images/cannon.png' onload="cannon()")
        img.cannon__fire.lazy(data-src='images/cannon-fire.png' onload="cannon()")
      img.cannon__smoke.lazy(data-src='images/cannon-smoke.png' onload="cannon()")
      img.cannon__ball.lazy(data-src='images/cannon-ball.png' onload="cannon()")
