.hero.blogSingleHero.lines
  .blogSingleHero__bgText.hero__bgText GENERAL
  .blogSingleHero__bgText.blogSingleHero__bgText--small.hero__bgText.hero__bgText--small MARKETING

  .c
    h1.blogSingleHero__title На кого работать российскому маркетологу в 2020-м: топ-сфера – онлайн-рынок одежды и обуви.
