.coursesTarget
  .paroller.coursesTarget__image: img.lazy(data-src='modules/coursesTarget/img/coursesTarget-particles.png' onload='paroller(event)')
  img.lazy.coursesTarget__image2(data-src='modules/coursesTarget/img/coursesTarget-image.png')
  .c
    h2.blockTitle.coursesTarget__title Мы создали беспрециндентный курс, который подойдет для Всех оконников!
    .coursesTarget__slider
      .coursesTarget__items
        .coursesTarget__item
          .coursesTarget__card
            .coursesTarget__head Новички
            .coursesTarget__icon: img.lazy(data-src='modules/coursesTarget/img/coursesTarget-01.png')
            .coursesTarget__text Узнают как привлечь первых клиентов, сколько можно зарабатывать на нише остекления и установки окон, где подводные камни и проблемы

        .coursesTarget__item
          .coursesTarget__card
            .coursesTarget__head Менеджеры или Маркетологи
            .coursesTarget__icon: img.lazy(data-src='modules/coursesTarget/img/coursesTarget-02.png')
            .coursesTarget__text Получат готовые инструкменты и техники для кратного увеличения продаж в компании или для своих клиентов

        .coursesTarget__item
          .coursesTarget__card
            .coursesTarget__head Владельцы или руководители
            .coursesTarget__icon: img.lazy(data-src='modules/coursesTarget/img/coursesTarget-03.png')
            .coursesTarget__text Увидят новые рекламные каналы для увеличения прибыли или узнают, как улучшить существующие каналы

      .coursesTarget__buttons
        .navBtn.navBtn--prev.coursesTarget__nav.coursesTarget__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.coursesTarget__nav.coursesTarget__nav--next: svg: use(xlink:href="#arrow")

    .coursesTarget__sub С нашим курсом - все найдут прямые ТОЧКИ РОСТА
