.contextPerson

  .c
    position: relative
    z-index: 1
    padding: 210px 0 100px 583px
    min-height 791px
    font-size: 18px
    line-height: 30px
    @media (max-width: $breakpoint-lg - 1)
      padding: 161px 0 100px 20px
      min-height 786px
      overflow: hidden
    @media (max-width: $breakpoint-md - 1)
      padding: 45px 20px 100px 20px
      min-height 786px

    li
      margin-bottom: 6px

      &:before
        content: ''
        //display: block
        width: 7px
        height: 7px
        border: 1px solid $blue
        display: inline-block
        vertical-align: middle
        margin-right: 12px

  &__image
    position: absolute
    left: -20px
    bottom: 0
    transform translateX(-70px)
    anim(.25s)
    @media (max-width: $breakpoint-lg - 1)
      display: none

    &.lazy--visible
      transform none

  &__image2
    position: absolute
    right: -56px;
    bottom: -144px;
    img
      transform translateX(30px) rotate(15deg) scaleX(-1)
      anim(.25s)
      @media (max-width: $breakpoint-lg - 1)
        display: none

      &.lazy--visible
        transform scaleX(-1)

  &__image3
    display: none
    position: absolute
    right: 18px
    bottom: 0
    transform translateX(30px)
    anim(.25s)

    @media (max-width: $breakpoint-lg - 1)
      display: block
    @media (max-width: $breakpoint-md - 1)
      margin-right: -71px

    &.lazy--visible
      transform none

  &__title
    position: absolute
    top: 89px;
    left: 50%;
    margin-left: -118px;
    @media (max-width: $breakpoint-lg - 1)
      left: 17px
      top: 64px
      margin-left: 0
    @media (max-width: $breakpoint-md - 1)
      left: 18px
      top: 56px

  &__top
    display: flex
    @media (max-width: $breakpoint-md - 1)
      flex-direction row-reverse

    &:before
      content: ''
      position: absolute
      margin-top: -21px
      margin-left: 2px
      display: block
      width: 13px
      height: 13px
      background: $blue
      @media (max-width: $breakpoint-lg - 1)
        display: none

  &__left
    padding-right: 70px
    @media (max-width: $breakpoint-lg - 1)
      width: 380px
    @media (max-width: $breakpoint-md - 1)
      padding-right: 0
      width: auto
      flex: 1

  &__right
    width: 202px
    flex-shrink 0
    @media (max-width: $breakpoint-md - 1)
      margin-top: 83px
      flex: 1

  &__bottom
    margin-top: 22px
    line-height: 36px
    max-width 440px
    @media (max-width: $breakpoint-lg - 1)
      margin-top: 44px
    @media (max-width: $breakpoint-md - 1)
      margin-top: 41px
      max-width 320px

  &__head
    font-size: 24px
    color: $blue
    font-weight: bold
    margin-bottom: 4px
    @media (max-width: $breakpoint-lg - 1)
      margin-bottom: 1px

  &__cta
    display: block
    position: absolute
    bottom: 62px
    margin-top: 12px
    font-size: 24px
    font-weight: bold
    @media (max-width: $breakpoint-lg - 1)
      bottom: 97px
    @media (max-width: $breakpoint-md - 1)
      max-width 320px
      bottom: 86px

  &__cta-arrow
    position: absolute
    left: 100%
    top: 100%
    width: 39px
    height: 79px
    margin-left: 12px;
    margin-top: -9px;
    @media (max-width: $breakpoint-md - 1)
      margin-top: -39px
      margin-left: -74px
