.contextPerson.lines
  .c
    img.lazy.contextPerson__image(data-src='/images/mark.png')
    img.lazy.contextPerson__image2(data-src='/images/bust2.png')
    img.lazy.contextPerson__image3(data-src='/images/mark-sm.png' width=253 height=427)
    h2.title.contextPerson__title: .big Поймите одно..
    .contextPerson__top
      .contextPerson__left
        p Качественная работа над рекламной кампанией это около 20 часов работы. Доверяясь "профи" за 10 тысяч вы обрекаете себя на страдания и разочарование в контекстной рекламе. Ведь Грамотная контекстная реклама включает в себя.
      .contextPerson__right
        ul
          li: b Анализ рынка
          li: b Анализ конкурентов
          li: b и тд
          li: b заполнил после
    .contextPerson__bottom
      .contextPerson__head Высотин Марк
      p: b Один из основателей компании Опыт в конгтекстной рекламе более 3 лет Вывел компанию с оборотом в 250 000 рублей в месяц на оборот 4 000 000 рублей в месяц с помощью контекстной рекламы

    .contextPerson__cta
      | чтобы Вам было легче решиться...
      svg.contextPerson__cta-arrow: use(xlink:href="#contextPersonArrow")
