.smmStrategy
  .c
    img.smmStrategy__image.lazy(data-src='images/sculpture.png')
    .paroller.smmStrategy__image2: img.lazy(data-src='images/bust12.png' onload='paroller(event)')

    .smmStrategy__section.smmStrategy__section--1
      .smmStrategy__item.smmStrategy__item--01
        .smmStrategy__icon
        .smmStrategy__text Проработка решений и предоставление#[br]вариантов
        .smmStrategy__sup только яндекс, или гугл+яндекс+сео

      .smmStrategy__item.smmStrategy__item--02
        .smmStrategy__icon
        .smmStrategy__text Понимание вашего продукта
        .smmStrategy__sup ценность, стоимость, преимущества,#[br]недостатки

      .smmStrategy__item.smmStrategy__item--03
        .smmStrategy__icon
        .smmStrategy__text Анализ рынка
        .smmStrategy__sup конкуренты, google выдача, яндекс#[br]выдача, рекламные каналы, ситуация#[br]с сезонностью

      .smmStrategy__item.smmStrategy__item--04
        .smmStrategy__icon
        .smmStrategy__text Понимание и проработка портрета ЦА
        .smmStrategy__sup демография, география, типология

      .smmStrategy__item.smmStrategy__item--05
        .smmStrategy__icon
        .smmStrategy__text Планирование бюджета и сроков
        .smmStrategy__sup смм или контекст или сео или все

      .smmStrategy__item.smmStrategy__item--06
        .smmStrategy__icon
        .smmStrategy__text Позиционирование
        .smmStrategy__sup визуально, смыслово, подкрепляя отзывами

      .smmStrategy__item.smmStrategy__item--07
        .smmStrategy__icon
        .smmStrategy__sup Точка А #[span _______] Точка Б#[br]обсуждение где находимся сейчас и к чему#[br]хотим придти

    .smmStrategy__block
      | Стратегия
      .smmStrategy__note пошаговый план действий

    .smmStrategy__section.smmStrategy__section--2
      .smmStrategy__item.smmStrategy__item--08
        .smmStrategy__icon
        .smmStrategy__text Настройка рекламных каналов
        .smmStrategy__sup подбор и настройка

      .smmStrategy__item.smmStrategy__item--09
        .smmStrategy__icon
        .smmStrategy__text Команда грамотных исполнителей
        .smmStrategy__sup сео, смм, контекст, проиграммисты, верстальщики,#[br]копирайтеры, дизайнеры, таргетологи, контент#[br]менеджеры, продажники

      .smmStrategy__item.smmStrategy__item--10
        .smmStrategy__icon
        .smmStrategy__text Тестирование различных гипотез#[br]продвижения
        .smmStrategy__sup по плану

      .smmStrategy__item.smmStrategy__item--11
        .smmStrategy__icon
        .smmStrategy__text Ежедневный аудит и анализ маректинговых#[br]инструментов
        .smmStrategy__sup по плану

      .smmStrategy__item.smmStrategy__item--12
        .smmStrategy__icon
        .smmStrategy__text Поэтапный план действий
        .smmStrategy__sup Пример: делаем сайт, запускаем контекст,#[br]запускаем сео через 3 месяца

      .smmStrategy__item.smmStrategy__item--13
        .smmStrategy__icon
        .smmStrategy__text Выбор площадки для получения лидов
        .smmStrategy__sup сайт, группа, инста, страница, агрегатор

      .smmStrategy__item.smmStrategy__item--14
        .smmStrategy__icon
        .smmStrategy__text Подключение сервисов аналитики#[br]и отслеживания по источникам трафика
        .smmStrategy__sup  срм коллтрекинг

    .smmStrategy__block Результат

    .smmStrategy__section.smmStrategy__section--3
      .smmStrategy__item.smmStrategy__item--15
        .smmStrategy__icon
        .smmStrategy__sup Точка Б

      .smmStrategy__item.smmStrategy__item--16
        .smmStrategy__icon
        .smmStrategy__text Уменьшение стоимости обращения,#[br]посредствам выстроенной#[br]стратегии

      .smmStrategy__item.smmStrategy__item--17
        .smmStrategy__icon
        .smmStrategy__text Предоставление отчета по#[br]проделанной работе и достигнутому#[br]результату

