.notFound
  flex: 1
  display: flex
  align-items center
  justify-content center
  flex-direction column

  &__title
    position: relative
    z-index: 1
    font-family: 'Museo Sans Cyrl 700', sans-serif;
    font-size: 151px;

  &__subtitle
    position: relative
    z-index: 1
    font-size: 24px
    line-height: 30px
