.aboutTabs.lines.noise
  .c
    .aboutTabs__top
      .aboutTabs__headers
        .aboutTabs__header.aboutTabs__header--active САЙТЫ
        .aboutTabs__header МАГАЗИНЫ
        .aboutTabs__header КОРПОРАТИВНЫЕ САЙТЫ
        .aboutTabs__header САЙТЫ
        .aboutTabs__header МАГАЗИНЫ
        .aboutTabs__header КОРПОРАТИВНЫЕ САЙТЫ

    .aboutTabs__items
      .aboutTabs__item.aboutTabs__item--active
        .aboutTabs__image
          img.lazy(data-src='images/horse4.png')
        .aboutTabs__content
          h3 Ежедневная работа SMM специалиста над Вашим проектов минимум 2 часа. А почему же тогда на 2 месяца договор сразу?
          p Профессиональное SMM продвижение строится на длительном вовлечении подписчиков в жизнь бренда. Исходя из нашего опыта для доведения клиента до покупки необходимо провести 5 точек контакта. Необходимо постоянно подогревать пользователя и снимать его возражения.
          p Этот процесс занимает от 1 до 3 месяцев. Клиент не сразу готов купить.
          p Мы не продаем лайки и подписчиков. Мы приводим клиентов
          p Именно поэтому мы заключаем договор на 2 месяца работа, который может быть прологирован по окончании срока.
      .aboutTabs__item
        .aboutTabs__image
          img.lazy(data-src='images/horse3.png')
        .aboutTabs__content
          h3 Ежедневная работа SMM специалиста над Вашим проектов минимум 2 часа. А почему же тогда на 2 месяца договор сразу?
          p Профессиональное SMM продвижение строится на длительном вовлечении подписчиков в жизнь бренда. Исходя из нашего опыта для доведения клиента до покупки необходимо провести 5 точек контакта. Необходимо постоянно подогревать пользователя и снимать его возражения.
          p Этот процесс занимает от 1 до 3 месяцев. Клиент не сразу готов купить.
          p Мы не продаем лайки и подписчиков. Мы приводим клиентов
          p Именно поэтому мы заключаем договор на 2 месяца работа, который может быть прологирован по окончании срока.
      .aboutTabs__item
        .aboutTabs__image
          img.lazy(data-src='images/horse2.png')
        .aboutTabs__content
          h3 Ежедневная работа SMM специалиста над Вашим проектов минимум 2 часа. А почему же тогда на 2 месяца договор сразу?
          p Профессиональное SMM продвижение строится на длительном вовлечении подписчиков в жизнь бренда. Исходя из нашего опыта для доведения клиента до покупки необходимо провести 5 точек контакта. Необходимо постоянно подогревать пользователя и снимать его возражения.
          p Этот процесс занимает от 1 до 3 месяцев. Клиент не сразу готов купить.
          p Мы не продаем лайки и подписчиков. Мы приводим клиентов
          p Именно поэтому мы заключаем договор на 2 месяца работа, который может быть прологирован по окончании срока.

  //.paroller.about__image2: img.lazy(data-src='images/bust2.png' width=263 height=289)
