.test.lines
  .c
    h2.title.test__title
      | Каждый клиент уникален и мы это понимаем.
      .big Пройдите небольшой тест и мы предложим для Вас самые выгодные условия!
    .test__sub Выберите образ, который ближе всего опишет Вас!
  .test__container.c
    .test__slider
      .test__items
        .test__item: .test__inner
          img.test__image.lazy(data-src='modules/test/test-01.png')
          .test__name Креативщик
          .test__text Готов пуститься в любой движ. Сначала начнем, проверим, потом посмотрим что и как Ему важен процесс, он почти уверен что все пойдет, ему нужен новый подход и он поверит человеку напротив, если он ему просто понравится.

        .test__item: .test__inner
          img.test__image.lazy(data-src='modules/test/test-02.png')
          .test__name Результатчик
          .test__text Вы мне дайте четкие гарантии того, что это сработает, мне не важно сколько денег это будет стоить, мне главное результат. Когда он у меня будет, готов платить хоть миллиард.

        .test__item: .test__inner
          img.test__image.lazy(data-src='modules/test/test-03.png')
          .test__name Аналитик
          .test__text Цифры, цифры, цифры, цифры. Я хочу полный анализ ниши, какие риски, сколько нужно вложить до рубля посчитайте мне, после полного анализа я соберу еще 500 предложений и потом на основе анализа выберу лучшее.

    .test__buttons
      .navBtn.navBtn--prev.test__nav.test__nav--prev: svg: use(xlink:href="#arrow")
      .navBtn.navBtn--next.test__nav.test__nav--next: svg: use(xlink:href="#arrow")
