.blogHeader
  .blogHeader__image(style='background-image: url(modules/blogSingle/blogSingle.jpg)')
  .blogHeader__sup
    .blogHeader__info
      .blogHeader__time
      .blogHeader__date 12 декабря 2019

    //button.blogHeader__share
    //  | Поделится
    //  svg.header__share-icon: use(xlink:href="#share")
