.cases.lines.smmCases
  .c
    h2.title.cases__title Почему мы знаем что у Вас все получится и результат будет,#[br]пусть и не в первый день?

  .cardsList
    .c
      .cardsList__slider: .cardsList__items
        .navBtn.cardsList__slide.cardsList__arrow: svg: use(xlink:href="#arrow")
        .cardsList__slide.smmPopup__opener
          .hidden
            .casePopup__content
              .casePopup__image: img(data-src='https://via.placeholder.com/1500x1200' width=1500 height=1200)
              //.casePopup__block
              //  p До нас:
              //  ul
              //    li Стоиомсть целевого обращения 1 500 рублей
              //    li Стоиомость клиента 5 600 рублей
              //    li Доход компании 50 000 рублей в месяц
              //.casePopup__image: img(data-src='https://via.placeholder.com/1500x1200' width=1500 height=1200)

          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name Сайт по разработке металоштакетника

        .cardsList__slide.smmPopup__opener
          .hidden
            .casePopup__content
              .casePopup__image: img(data-src='https://via.placeholder.com/1500x1200' width=1500 height=1200)
              .casePopup__block
                p До нас:
                ul
                  li Стоиомсть целевого обращения 1 500 рублей
                  li Стоиомость клиента 5 600 рублей
                  li Доход компании 50 000 рублей в месяц
              .casePopup__image: img(data-src='https://via.placeholder.com/1500x1200' width=1500 height=1200)

          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name Сайт по разработке металоштакетника

        .cardsList__slide.smmPopup__opener
          .hidden
            .casePopup__content
              .casePopup__image: img(data-src='https://via.placeholder.com/1500x1200' width=1500 height=1200)
              .casePopup__block
                p До нас:
                ul
                  li Стоиомсть целевого обращения 1 500 рублей
                  li Стоиомость клиента 5 600 рублей
                  li Доход компании 50 000 рублей в месяц
              .casePopup__image: img(data-src='https://via.placeholder.com/1500x1200' width=1500 height=1200)

          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name Сайт по разработке металоштакетника


  .btnSub
    .btn
      svg.icon-lines: use(xlink:href="#2lines")
      | Смотреть больше работ

    .btn
      svg.icon-pdf: use(xlink:href="#pdf")
      | Или скачайте PDF файл с кейсами

  img.cases__image2.lazy(data-src='images/bust3.png')
