.seoForm.lines
  .c
    h2.blockTitle.seoForm__title Грамотное SEO продвижение строится из множества факторов
    .seoForm__content
      .seoForm__text
        ul
          li - подбор семантического ядра
          li - оптимизация
          li - link building
          li - поисковая оптимизация
          li - стратегия
          li - отчеты о работе
          li и тд.

      .seoForm__form.noise
        img.seoForm__image.lazy(data-src='modules/seoForm/seoForm-img.png' width=302 height=629)
        .seoForm__inner
          .seoForm__header
            | Получите бесплатный#[br]
            | СЕО-аудит Вашего сайта
          .input.form__input: input.input__input(placeholder='Ваш сайт для аудита:')
          .input.form__input: input.input__input(placeholder='Почта, куда мы пришлем отчет:')
          .input.form__input: input.input__input(placeholder='Номер телефона, по которому мы ответим на все вопросы:' type='tel')
          button.btn.btn--lineIcon ПОЛУЧИТЬ БЕСПЛАТНЫЙ АУДИТ
