.instruments.lines
  .c
    h2.blockTitle.instruments__title В нашей работы мы используем следующие маркетинговоые инструменты
    .instruments__slider
      .instruments__items
        .instruments__item: .instruments__card
          img.instruments__icon.lazy(data-src='modules/instruments/img/instruments-01.png')
          .instruments__header Сайты
          .instruments__info
            ul
              li Лендинги;
              li Cультилендинги;
              li Rорпоративные и тд.
        .instruments__item: .instruments__card
          img.instruments__icon.lazy(data-src='modules/instruments/img/instruments-02.png')
          .instruments__header Контекстная#[br]реклама
          .instruments__info
            ul
              li Гугл;
              li Яндекс;
              li bing.
        .instruments__item: .instruments__card
          img.instruments__icon.lazy(data-src='modules/instruments/img/instruments-03.png')
          .instruments__header Таргетинг
          .instruments__info
            ul
              li Таргетинг,
              li группы, и тд
        .instruments__item: .instruments__card
          img.instruments__icon.lazy(data-src='modules/instruments/img/instruments-04.png')
          .instruments__header Брендинг
          .instruments__info
            ul
              li Управление репутацией,
              li Отзывы и тд
        .instruments__item: .instruments__card
          img.instruments__icon.lazy(data-src='modules/instruments/img/instruments-05.png')
          .instruments__header СЕО
          .instruments__info
            ul
              li Продвижение в сео выдаче,
              li Копирайтиннг тд
        .instruments__item: .instruments__card
          img.instruments__icon.lazy(data-src='modules/instruments/img/instruments-06.png')
          .instruments__header Smm#[br]продвижение
          .instruments__info
            ul
              li Таргетинг,
              li группы, и тд

      .instruments__buttons
        .navBtn.navBtn--prev.instruments__nav.instruments__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.instruments__nav.instruments__nav--next: svg: use(xlink:href="#arrow")
  .paroller.instruments__image: img.lazy(data-src='images/bust2.png' onload='paroller(event)')
