.clients.lines
  .c
    h2.title.clients__title
      |Эти компании уже работают с нами!
      .big Что останавливает Вас?
  .c
    .clients__items.clients__items--primary
      .clients__item: .clients__inner: img(src='modules/clients/img/14_03.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_05.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_06.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_08.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_10.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_11.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_17.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_19.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_22.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_23.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_25.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_28.png')
  .clients__slider
    .clients__items.clients__items--secondary
      .clients__item: .clients__inner: img(src='modules/clients/img/14_03.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_05.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_06.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_08.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_10.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_11.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_03.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_05.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_06.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_08.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_10.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_11.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_03.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_05.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_06.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_08.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_10.png')
  .clients__slider
    .clients__items.clients__items--secondary
      .clients__item: .clients__inner: img(src='modules/clients/img/14_11.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_03.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_05.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_06.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_08.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_10.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_11.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_17.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_19.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_22.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_23.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_25.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_28.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_03.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_05.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_06.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_08.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_10.png')
  .clients__slider
    .clients__items.clients__items--secondary
      .clients__item: .clients__inner: img(src='modules/clients/img/14_11.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_17.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_19.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_22.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_23.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_25.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_28.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_03.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_05.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_06.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_08.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_10.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_11.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_17.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_19.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_22.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_23.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_25.png')
      .clients__item: .clients__inner: img(src='modules/clients/img/14_28.png')

  .paroller.clients__image: img.lazy(data-src='images/bust3.png' onload='paroller(event)')