.coursesProgram.lines
  .paroller.coursesProgram__image: img.lazy(data-src='modules/coursesProgram/img/coursesProgram-img.png' width=377 height=461)
  .paroller.coursesProgram__image2: img.lazy(data-src='images/bust2.png' width=263 height=289 onload='paroller(event)')

  .c
    .blockTitle.coursesProgram__title Программа курса в нескольких блоках
    .coursesProgram__slider
      .coursesProgram__items
        .coursesProgram__item.coursesProgram__item--active: .coursesProgram__card
          .coursesProgram__header: span 1 занятие
          .coursesProgram__icon: img.lazy(data-src='modules/coursesProgram/img/coursesProgram-icon.png')
          .coursesProgram__name ПЛОЩАДКА, ПРОДАЖИ
          .coursesProgram__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.

        .coursesProgram__item: .coursesProgram__card
          .coursesProgram__header: span 2 занятие
          .coursesProgram__icon: img.lazy(data-src='modules/coursesProgram/img/coursesProgram-icon.png')
          .coursesProgram__name ТРАФИК, КОНТЕКСТ, АНАЛИТИКА
          .coursesProgram__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.

        .coursesProgram__item: .coursesProgram__card
          .coursesProgram__header: span 3 занятие
          .coursesProgram__icon: img.lazy(data-src='modules/coursesProgram/img/coursesProgram-icon.png')
          .coursesProgram__name SMM, СЕО
          .coursesProgram__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.

        .coursesProgram__item: .coursesProgram__card
          .coursesProgram__header: span 4 занятие
          .coursesProgram__icon: img.lazy(data-src='modules/coursesProgram/img/coursesProgram-icon.png')
          .coursesProgram__name ТОРГОВЫЕ ПЛОЩАДКИ
          .coursesProgram__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.

        .coursesProgram__item: .coursesProgram__card
          .coursesProgram__header: span 5 занятие
          .coursesProgram__icon: img.lazy(data-src='modules/coursesProgram/img/coursesProgram-icon.png')
          .coursesProgram__name ВОПРОСЫ И ОТВЕТЫ
          .coursesProgram__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.

      .coursesProgram__buttons
        .navBtn.navBtn--prev.coursesProgram__nav.coursesProgram__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.coursesProgram__nav.coursesProgram__nav--next: svg: use(xlink:href="#arrow")


