header.header
  .c.header__container
    img(src='images/logo.png')
    .header__aside
      .header__mail
        svg.header__mail-icon: use(xlink:href="#mail")
        | mail@gen-marketing.ru
      .header__address
        svg.header__address-icon: use(xlink:href="#geo")
        | Санкт-Петербург, Вторая линия#[br]
        | ВО, дом 37
      .header__phone
        svg.header__phone-icon: use(xlink:href="#phone")
        div
          a.header__phone-tel(href='tel:79999999999') #[span +7] (999) 999-99-99
          | Ежедневно с 8:00 до 22:00
