extends pug/_layout
block style
  link(rel="stylesheet" media="all" href="case.css")

block body
  include modules/blogSingleHero/blogSingleHero
  include modules/case/case
  include modules/smmCases/smmCases
  include modules/videos/videos
  include modules/guaranties/guaranties
  include modules/map/map
