@import "destyle.css/destyle.css"
@import "baron/baron.css";
@import "baron/skins/styles.css";

@import "stylus/_fonts.styl";
@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";

@critical
  *
    box-sizing border-box

  h1
    margin: 0

  button
    vertical-align: middle;
    color: inherit;
    font: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: 0;

  a
    background-color: transparent;
    text-decoration: none;
    color: inherit;

  html
    font-family: 'PT Sans', sans-serif;
    color: $black
    font-size: 16px
    line-height: 1.55

  html, body
    margin: 0
    padding: 0
    overflow-x: hidden

@critical
  .c
    padding: 0 10px
    margin-left: auto
    margin-right: auto
    max-width: $container-lg
    width: 100%
    @media (max-width: $breakpoint-lg - 1)
      max-width: $container-md
      padding: 0 20px
    @media (max-width: $breakpoint-md - 1)
      max-width: 100%

.blockTitle
  font-size: 36px
  line-height: 1
  text-align: center;
  position: relative
  max-width 770px
  margin: 0 auto 0
  @media (max-width: $breakpoint-lg - 1)
    max-width 630px
  @media (max-width: $breakpoint-md - 1)
    max-width 380px

.page
  //anim(.2s)
  min-height 100vh
  display: flex
  flex-direction column
  will-change filter

  &.mfp-body-open
    filter: blur(10px)
    overflow: hidden

  @critical
    & > *
      opacity: 0
      transition: opacity .4s ease-out

    & > .hero, & > .header
      opacity: 1

  & > *
    opacity: 1


.noise
  background: url(images/noise.jpg);

@critical
  .lazy
    visibility: hidden
    opacity: 0

    &.lazy--visible
      visibility: visible
      opacity: 1

.r
  font-family: 'Rouble';

//transform none

img[data-src],
img[data-srcset]
  //display: block;
  min-height: 1px;

@critical
  .hidden
    display: none

@critical
  #sprites
    position: absolute
    width: 0
    height: 0
    top: 0
    left: 0

@critical
  .icon-lines
    width: 28px
    height: 13px

.icon-3lines
  width: 25px
  height: 24px

.icon-pdf
  width: 40px
  height: 37px
  fill: $blue

.paroller
  will-change: transform;
  transition: transform 0.1s ease-out !important;
  @media (pointer: coarse)
    transition none !important

.smoke
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

@import "stylus/blocks/lines.styl";
@import "stylus/blocks/hero.styl"
@import "stylus/blocks/btn.styl";
//@import "stylus/blocks/btnGroup.styl";
@import "stylus/blocks/btnSub.styl";
@import "stylus/blocks/navBtn.styl";
@import "stylus/blocks/videoFrame.styl";
@import "stylus/blocks/title.styl";
@import "stylus/blocks/form.styl";
@import "stylus/blocks/input.styl";
@import "stylus/blocks/card.styl";
@import "stylus/blocks/cardsList.styl";
@import "stylus/blocks/wpcf7.styl";
@import "stylus/blocks/tabs.styl";
@import "stylus/blocks/politic.styl";
@import "stylus/blocks/typography.styl";
//@import "stylus/select.styl";

@import "modules/header/header.styl"
@import "modules/header/menu.styl"
@import "modules/footer/footer.styl"
@import "modules/map/map.styl"
@import "modules/popup/mfp.styl"
@import "modules/popup/popup.styl"
@import "modules/popup/thank.styl"
@import "modules/popup/abandon.styl"
@import "modules/popup/testPopup.styl"
@import "modules/popup/casePopup.styl"
@import "modules/videos/cannon.styl"
@import "modules/videos/videos.styl"
@import "modules/guaranties/guaranties.styl"
@import "modules/services/services.styl"
@import "modules/cases/cases.styl"
@import "modules/notFound/notFound.styl"

//@import "modules/photoswipe/photoswipe.styl"
//@import "modules/photoswipe/default-skin.styl"
