extends pug/_layout
block style
  link(rel="stylesheet" media="all" href="css/courses.css")

block body
  include modules/coursesHero/coursesHero
  include modules/coursesWelcome/coursesWelcome
  include modules/coursesTarget/coursesTarget
  include modules/coursesChannels/coursesChannels
  include modules/coursesReasons/coursesReasons
  include modules/coursesProblems/coursesProblems
  include modules/coursesResults/coursesResults
  include modules/coursesProgram/coursesProgram
  include modules/coursesPrices/coursesPrices
  include modules/coursesTeachers/coursesTeachers
  include modules/coursesTestimonials/coursesTestimonials
  include modules/coursesNearest/coursesNearest
  include modules/coursesFaq/coursesFaq
  include modules/coursesForm/coursesForm
  //include modules/smmAbout/smmAbout
  //include modules/smmStrategy/smmStrategy
  //include modules/instruments/instruments
  //include modules/marketingConsult/marketingConsult
  //include modules/smmCases/smmCases
  //include modules/videos/videos
  //include modules/guaranties/guaranties
  //include modules/map/map
