@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";

@import "modules/coursesHero/coursesHero.styl"
@import "modules/coursesWelcome/coursesWelcome.styl"
@import "modules/coursesTarget/coursesTarget.styl"
@import "modules/coursesChannels/coursesChannels.styl"
@import "modules/coursesReasons/coursesReasons.styl"
@import "modules/coursesProblems/coursesProblems.styl"
@import "modules/coursesResults/coursesResults.styl"
@import "modules/coursesProgram/coursesProgram.styl"
@import "modules/coursesPrices/coursesPrices.styl"
@import "modules/coursesTeachers/coursesTeachers.styl"
@import "modules/coursesTestimonials/coursesTestimonials.styl"
@import "modules/coursesNearest/coursesNearest.styl"
@import "modules/coursesFaq/coursesFaq.styl"
@import "modules/coursesForm/coursesForm.styl"
@import "modules/videos/cannon.styl"
