extends pug/_layout

block body
  include modules/frontHero/frontHero
  include modules/welcome/welcome
  include modules/team/team
  include modules/problems/problems
  include modules/progress/progress
  include modules/clients/clients
  include modules/services/services
  include modules/videos/videos
  include modules/guaranties/guaranties
  include modules/test/test
  include modules/map/map
