extends pug/_layout
block style
  link(rel="stylesheet" media="all" href="css/marketing.css")

block body
  include modules/marketingHero/marketingHero
  include modules/smmAbout/smmAbout
  include modules/smmStrategy/smmStrategy
  include modules/instruments/instruments
  include modules/marketingConsult/marketingConsult
  include modules/smmCases/smmCases
  include modules/videos/videos
  include modules/guaranties/guaranties
  include modules/map/map
