extends pug/_layout
block style
  link(rel="stylesheet" media="all" href="css/portfolio.css")

block body
  - var HIDE_VIDEOS_IMAGE = true
  - var VIDEOS_NOISE = true
  - var GUARANTIES_NOISE = false
  include modules/portfolioHero/portfolioHero
  include modules/images/images
  include modules/aboutTabs/aboutTabs
  include modules/sites/sites
  include modules/logotypes/logotypes
  include modules/presentations/presentations
  include modules/context/context
  include modules/smm/smm
  include modules/videos/videos
  include modules/guaranties/guaranties
  include modules/map/map
