extends pug/_layout
block style
  link(rel="stylesheet" media="all" href="css/seo.css")

block body
  include modules/seoHero/seoHero
  include modules/seoInfo/seoInfo
  include modules/seoForm/seoForm
  include modules/seoPrice/seoPrice
  include modules/smmCases/smmCases
  include modules/videos/videos
  include modules/guaranties/guaranties
  include modules/map/map
