.coursesChannels.lines
  .c
    h2.blockTitle.coursesChannels__title Какие же каналы бизнеса затрагивает наш курс?

    .coursesChannels__slider
      .coursesChannels__items
        .coursesChannels__item
          .coursesChannels__counter(data-text='01'): span 01
          .coursesChannels__text Сайт
        .coursesChannels__item
          .coursesChannels__counter(data-text='02'): span 02
          .coursesChannels__text Площадки
        .coursesChannels__item
          .coursesChannels__counter(data-text='03'): span 03
          .coursesChannels__text Продажи
        .coursesChannels__item
          .coursesChannels__counter(data-text='04'): span 04
          .coursesChannels__text Трафик
        .coursesChannels__item
          .coursesChannels__counter(data-text='05'): span 05
          .coursesChannels__text СЕО
        .coursesChannels__item
          .coursesChannels__counter(data-text='06'): span 06
          .coursesChannels__text Контекст
        .coursesChannels__item
          .coursesChannels__counter(data-text='07'): span 07
          .coursesChannels__text Аналитика
        .coursesChannels__item
          .coursesChannels__counter(data-text='08'): span 08
          .coursesChannels__text Торговые площадки
        .coursesChannels__item
          .coursesChannels__counter(data-text='09'): span 09
          .coursesChannels__text Доски объявлений
        .coursesChannels__item
          .coursesChannels__counter(data-text='10'): span 10
          .coursesChannels__text Партизанский #[br]маркетинг
        .coursesChannels__item
          .coursesChannels__counter(data-text='11'): span 11
          .coursesChannels__text Маркетинг #[br]без бюджета
        .coursesChannels__item
          .coursesChannels__counter(data-text='12'): span 12
          .coursesChannels__text Еmail маркетинг

      .coursesChannels__buttons
        .navBtn.navBtn--prev.coursesChannels__nav.coursesChannels__nav--prev: svg: use(xlink:href="#arrow")
        .navBtn.navBtn--next.coursesChannels__nav.coursesChannels__nav--next: svg: use(xlink:href="#arrow")

  .paroller.coursesChannels__image: img.lazy(data-src='images/bust.png' onload='paroller(event)')
  img.coursesChannels__image2.lazy(data-src='modules/coursesChannels/img/coursesChannles-particles.png')
