.map.lines
  .map__map(data-zoom=16 data-center="[59.944089, 30.284486]")
  .c
    .map__left
      h2.title.map__title Хватит думать и ломать голову какого выбрать подрядчика.
      .map__sup ВСЕГДА ЖДЕМ ВАС В НАШЕМ ОФИСЕ ПО АДРЕСУ:
      .map__address БЦ "Конторский дом" СПб, 2-я линия ВО, д. 37 офис 402
      .map__contact Телефон: #[span.map__phone #[span 8 (812)] 670 60 44]

    .map__right.noise
      .form
        .form__title Просто заполните форму!
        .form__text Расскажите нам о необходимой рекламной кампании и получите ответ с точным расчетом стоимости уже в течение 5 минут!
        form(onsubmit='showThank()')
          .input.form__input: input.input__input(placeholder='Введите ваше имя:')
          .input.form__input: input.input__input(placeholder='Введите ваш номер телефона:')
          .input.form__input: textarea.input__input.input__input--textarea(placeholder='Расскажите подробнее о вашей задаче:')
          .form__button: button.btn.btn--lineIcon ПОЛУЧИТЬ РАСЧЕТ
