.sites.lines.tabs
  .c
    .sites__title: h2(data-bg='Создание сайтов').title.title--bg Создание сайтов

    .tabs__headers
      .tabs__header.tabs__header--active.btn.btn--active Лендинг пейдж
      .tabs__header.btn Многостраничные сайты
      .tabs__header.btn Интернет магазины

  .tabs__items
    .tabs__item.tabs__item--active
      .cardsList
        .c
          .cardsList__slider: .cardsList__items
            .navBtn.cardsList__slide.cardsList__arrow: svg: use(xlink:href="#arrow")
            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника

            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника

            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника

            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника
    .tabs__item
      .cardsList
        .c
          .cardsList__slider: .cardsList__items
            .navBtn.cardsList__slide.cardsList__arrow: svg: use(xlink:href="#arrow")
            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника

            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника

            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника

            .cardsList__slide
              .card
                img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
                .card__name Сайт по разработке металоштакетника

  .btnSub
    .btn
      svg.icon-pdf: use(xlink:href="#pdf")
      | Или скачайте PDF файл с кейсами

  .paroller.sites__image: img.lazy(data-src='images/bust7.png' onload='paroller(event)')
  .paroller.sites__image2: img.lazy(data-src='images/bust8.png' onload='paroller(event)')
  img.sites__image3.lazy(data-src='images/portfolio.png')