.sites.lines
  .c
    .sites__title: h2(data-bg='Создание сайтов').title.title--bg Создание сайтов

    .btnGroup
      .btn Лендинг пейдж
      .btn Многостраничные сайты
      .btn Интернет магазины

  .cardsList
    .c
      .cardsList__slider: .cardsList__items
        .navBtn.cardsList__slide.cardsList__arrow: svg: use(xlink:href="#arrow")
        .cardsList__slide
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name Сайт по разработке металоштакетника

        .cardsList__slide
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name Сайт по разработке металоштакетника

        .cardsList__slide
          .card
            img.card__image.lazy(data-src='images/case.jpg' width=332 height=295)
            .card__name Сайт по разработке металоштакетника

  .btnSub
    .btn
      svg.icon-pdf: use(xlink:href="#pdf")
      | Или скачайте PDF файл с кейсами

  img.sites__image.lazy(data-src='images/bust7.png')
  img.sites__image2.lazy(data-src='images/bust8.png')
  img.sites__image3.lazy(data-src='images/portfolio.png')