.smmBullets.lines

  .c: .smmBullets__content
    h2.title.smmBullets__title Качественный SMM стоит денег? Да!

    .smmBullets__items
      .smmBullets__item Охват аудитории в одном из наших проектов составляет примерно 50 тысяч человек в день
      .smmBullets__item
        | Охват в группе конкурента составляет 4 человека в день#[br]
        | В нашем проекте прирост подписчиков примерно 140 человек в день#[br]
        | У конкурентов примерно 1 человек в день
      .smmBullets__item И самое главное: количество уникальных пользователей, кто отправляет сообщение группе(обращение в компанию), у нас составляет примерно 40 человек в день.

    .smmBullets__cta У конкурента примерно 0 в день :)

  img.lazy.smmBullets__image(data-src='images/graphs.png' width=611 height=654)
  img.lazy.smmBullets__image2(data-src='images/bust2.png' width=263 height=289)
  img.lazy.smmBullets__image3(data-src='images/bust3.png' width=246 height=287)
  img.smmBullets__image4(src='images/graphs-sm.png')
