.coursesNearest.lines
  img.coursesNearest__image.lazy(data-src='modules/coursesNearest/img/coursesNearest-img.png' width=259 height=440)
  .c
    .blockTitle.coursesNearest__title Ближайшие курсы
    .coursesNearest__items
      .coursesNearest__item
        .coursesNearest__label КУРС ДЛЯ
        .coursesNearest__name СТРОИТЕЛЕЙ
        a.coursesNearest__button УЗНАТЬ ДАТЫ СЛЕДУЮЩЕГО КУРСА
      .coursesNearest__item
        .coursesNearest__label КУРС ДЛЯ
        .coursesNearest__name ВОДИТЕЛЕЙ
        a.coursesNearest__button УЗНАТЬ ДАТЫ СЛЕДУЮЩЕГО КУРСА
